@charset "UTF-8";

@font-face {
  font-family: "svg-icons";
  src: url("../fonts/svg-icons.eot");
  src: url("../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../fonts/svg-icons.woff") format("woff"), url("../fonts/svg-icons.ttf") format("truetype"), url("../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--avatar:before {
  content: "";
}

.icon.icon--clock:before {
  content: "";
}

.icon.icon--close:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--hanger:before {
  content: "";
}

.icon.icon--heart:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--location-pin:before {
  content: "";
}

.icon.icon--minus:before {
  content: "";
}

.icon.icon--phone:before {
  content: "";
}

.icon.icon--pinterest:before {
  content: "";
}

.icon.icon--plus:before {
  content: "";
}

.icon.icon--shopping-cart:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--vk:before {
  content: "";
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/helveticaneue_light-webfont.woff") format("woff"), url("../fonts/helveticaneue_light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/helveticaneue_medium-webfont.woff") format("woff"), url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/helveticaneue_thin-webfont.woff") format("woff"), url("../fonts/helveticaneue_thin-webfont.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-width: 620px;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-weight: 300;
}

.main {
  position: relative;
  padding: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #000;
}

.header-logo {
  width: 168px;
  background: url("../images/m-logo-min.png") no-repeat;
}

.header-logo a {
  color: transparent;
  font-size: 10px;
  letter-spacing: 37px;
}

.main-menu {
  display: none;
}

.menu-icon {
  position: relative;
  z-index: 1000;
  display: inline-block;
  width: 23px;
  height: 3px;
  background-color: #f68235;
  cursor: pointer;
}

.menu-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 23px;
  height: 3px;
  background-color: #f68235;
}

.menu-icon::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 3px;
  background-color: #f68235;
}

.menu-icon.is-open {
  position: fixed;
  top: 41px;
}

.menu-icon.is-open ~ .main-menu {
  position: fixed;
  top: -16px;
  right: 0;
  bottom: -16px;
  left: 0;
  z-index: 200;
  display: block;
  padding: 0;
  padding-top: 15px;
  padding-left: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  list-style: none;
}

.menu-icon.is-open ~ .main-menu li {
  display: block;
  padding: 20px;
}

.menu-icon.is-open ~ .main-menu a {
  color: #fff;
  text-decoration: none;
}

.menu-icon.is-open ~ .main-menu a:hover {
  text-decoration: underline;
}

.logo-img {
  width: 100%;
  height: auto;
}

.switcher {
  margin-top: -10px;
}

.switcher__item {
  display: inline-block;
  width: 50%;
  padding: 10px;
  padding-right: 35px;
  background-color: #e5e5e5;
  color: #000;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

.switcher__item:hover {
  text-decoration: underline;
}

.switcher__item:last-child {
  position: relative;
  padding: 15px 30px;
  background-color: #f68235;
  color: #fff;
}

.switcher__item:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-bottom: 48px solid #f68235;
  border-left: 27px solid transparent;
}

.switcher__item span {
  font-size: 14px;
  text-transform: uppercase;
}

.switcher .icon--clock {
  position: relative;
  padding-left: 55px;
}

.switcher .icon--clock::before {
  position: absolute;
  top: 50%;
  left: 0;
  left: 16px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.breadcrumbs {
  font-weight: 300;
  font-size: 12px;
}

.breadcrumbs__item {
  padding: 3px;
  color: #f68235;
  text-decoration: none;
}

.breadcrumbs__item:last-child {
  color: #000;
}

.breadcrumbs__item:not(:last-child):hover {
  text-decoration: underline;
}

.product {
  margin-top: 30px;
}

.product__sale {
  position: absolute;
  top: 0;
  left: 27px;
  z-index: 100;
}

.product__sale::before {
  font-size: 27px;
  color: #7d7d7d;
}

.product__title {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.product__subtitle {
  display: block;
  margin: 0;
  padding-right: 140px;
  color: #000;
  font-weight: 300;
  font-size: 14px;
}

/*.photo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 20px;
	&__view {
		order: 1;
		width: 260px;
		height: 347px;
		margin-bottom: 24px;
		&-img {
			@include image-fit;
		}
	}
	&__nav {
		display: flex;
		justify-content: center;
		order: 2;
		&-item {
			display: block;
			width: 7px;
			height: 7px;

			border-radius: 100%;
			background-color: $slider-dots-inactive-color;
			&.active {
				background-color: $slider-dots-active-color;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}*/

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 23px;
  padding: 10px 20px;
  background-color: #ededed;
}

.price__number.price--old {
  display: block;
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}

.price__number.price--new {
  display: block;
  color: #f68235;
  font-size: 24px;
}

.price__sale {
  width: 45px;
  height: 45px;
  padding: 14px 5px;
  border-radius: 100%;
  background-color: #828282;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.color {
  padding: 23px 0;
  font-size: 12px;
}

.color__text {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.color__pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.color__pic.active {
  border: 2px solid #f68235;
}

.color__pic:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.color--1 {
  background: url(../images/color1-min.png) no-repeat;
}

.color--2 {
  background: url(../images/color2-min.png) no-repeat;
}

.color--3 {
  background: url(../images/color3-min.png) no-repeat;
}

.color--4 {
  background: url(../images/color4-min.png) no-repeat;
}

.color--5 {
  background: url(../images/color5-min.png) no-repeat;
}

.size {
  padding: 23px 0;
  border-top: 1px solid #dedede;
  font-size: 12px;
}

.size__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.size__text {
  margin-bottom: 10px;
  font-weight: 600;
}

.size__table {
  color: #999;
}

.size__table:hover {
  color: #000;
}

.size__pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
}

.size__pic.active {
  border: 2px solid #f68235;
}

.size__pic.disabled {
  background-color: #dedede;
  color: #6d6d6d;
  pointer-events: none;
}

.size__pic:hover {
  border: 2px solid #000;
  cursor: pointer;
}

.size__fit {
  display: inline-block;
  margin-top: 15px;
  color: #999;
}

.size__fit:hover {
  color: #000;
}

.size__fit span {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
}

.size__fit.icon--hanger {
  position: relative;
}

.size__fit.icon--hanger::before {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  padding: 3px;
  border-radius: 100%;
  background-color: #487eba;
  color: #fff;
  font-size: 13px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quantity {
  padding: 23px 0;
  border-top: 1px solid #dedede;
  font-size: 12px;
}

.quantity__text {
  font-weight: 600;
}

.quantity__count {
  margin-top: 10px;
}

.quantity__count-less {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
  cursor: pointer;
}

.quantity__count-less::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 9px;
  height: 2px;
  background-color: #000;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.quantity__count-number {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 9px;
  border: 1px solid #dedede;
  outline: none;
  color: #000;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.quantity__count-more {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.quantity__count-more::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 9px;
  height: 2px;
  background-color: #000;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.quantity__count-more::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.quantity__left {
  position: absolute;
  top: -54px;
  left: 10%;
  width: 90%;
  padding: 7px;
  background-color: #eaeaea;
  color: #000;
  font-size: 12px;
  text-align: center;
}

.quantity__left-number {
  margin-right: 5px;
}

.quantity__left::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 75%;
  border: 11px solid transparent;
  border-top: 11px solid #eaeaea;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.like {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 18px;
  border: 1px solid #dedede;
  font-weight: 200;
  font-size: 12px;
  text-decoration: none;
  vertical-align: bottom;
}

.like:hover {
  border-color: #000;
}

.like.icon--heart {
  position: relative;
}

.like.icon--heart::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-size: 13px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add-to-cart {
  position: relative;
  float: right;
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 0;
  padding-left: 15px;
  background-color: #f68235;
  font-weight: 200;
  font-size: 13px;
  text-decoration: none;
  vertical-align: bottom;
}

.add-to-cart:hover {
  background-color: #ef590e;
}

.add-to-cart:visited {
  color: #000;
}

.add-to-cart__text {
  display: inline-block;
  padding: 12px 25px;
  background: url("../images/shop-bag-min.png") no-repeat;
  background-position: 0 9px;
  color: #fff;
  text-transform: uppercase;
}

.shop-bag-img {
  width: 15px;
  height: 19px;
  margin-right: 12px;
}

.make-order {
  padding: 23px 0;
  border-top: 1px solid #dedede;
  font-size: 12px;
}

.call {
  margin-bottom: 10px;
}

.call.icon--phone {
  position: relative;
}

.call.icon--phone::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #7c7c7c;
  font-size: 22px;
}

.call__text {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  color: #000;
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.call__number {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  color: #999;
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.call__number:hover {
  color: #000;
}

.location {
  margin-top: 15px;
}

.location.icon--location-pin {
  position: relative;
}

.location.icon--location-pin::before {
  position: absolute;
  top: 50%;
  left: 0;
  color: #7c7c7c;
  font-size: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.location__text {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  color: #000;
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.details {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}

.details__title {
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 18px;
}

.details__title:hover {
  cursor: pointer;
}

.details__title::before {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.details__title span {
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.details__title.icon--plus ~ .details__item,
.details__title.icon--plus ~ .details__code,
.details__title.icon--plus ~ .details__info,
.details__title.icon--plus ~ .details__text {
  display: none;
}

.details__item {
  font-size: 12px;
}

.details__item-title {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
  vertical-align: top;
}

.details__item-value {
  display: inline-block;
  width: 80%;
  margin: 0;
}

.details__item b {
  margin-right: 5px;
  font-weight: bold;
}

.details__code {
  margin-top: 14px;
  font-size: 12px;
}

.details__code-title {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
  vertical-align: top;
}

.details__code-number {
  display: inline-block;
  width: 70%;
  margin: 0;
  color: #a7a7a7;
}

.details__info {
  margin-top: 20px;
}

.details__text {
  margin: 0;
  font-size: 12px;
}

.details__text b {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.details__text b a {
  color: #000;
}

.details__text-item {
  display: block;
  padding-right: 30px;
}

.similar-goods {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}

.similar-goods__title {
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 18px;
}

.similar-goods__title::before {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.similar-goods__title span {
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.similar-goods__title.icon--plus ~ .similar-goods__block,
.similar-goods__title.icon--plus ~ .social {
  display: none;
}

.similar-goods__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item {
  margin-bottom: 26px;
}

.item__img {
  width: 119px;
  height: 179px;
  margin-bottom: 10px;
}

.item__img-image {
  width: 100%;
}

.item__title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}

.item__subtitle {
  margin: 0;
  font-weight: 200;
  font-size: 10px;
}

.item__price {
  margin-top: 5px;
  font-size: 10px;
}

.item__price.price--old {
  margin-right: 5px;
  color: #999;
  text-decoration: line-through;
}

.item__price.price--new {
  color: #f68235;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #dedede;
}

.social__text {
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 12px;
}

.social__item {
  margin-left: 20px;
  color: #3a3a3a;
  text-decoration: none;
}

.social__item:hover {
  padding: 5px;
  border: 1px solid #3a3a3a;
  border-radius: 100%;
}

.recommendation {
  padding: 20px 0;
  border-top: 1px solid #dedede;
  font-size: 12px;
}

.recommendation__text {
  display: block;
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}

.recommendation__link {
  display: block;
  color: #999;
  line-height: 24px;
}

.recommendation__link:hover {
  color: #000;
}

.location-popup {
  position: fixed;
  top: 0;
  z-index: 2000;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.location-popup__content {
  width: 260px;
  height: 675px;
  margin: 20px auto;
}

.popup {
  font-family: "HelveticaNeue", Arial, sans-serif;
}

.popup__header {
  position: relative;
  padding: 10px 100px 9px 8px;
  background-color: #dbdbdb;
  font-size: 14px;
}

.popup__title {
  font-size: 14px;
  text-transform: uppercase;
}

.popup-close {
  position: absolute;
  top: 50%;
  right: 8px;
  color: #727272;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.popup-close::before {
  font-size: 20px;
}

.popup__main {
  background-color: #fff;
}

.popup__main-title {
  display: block;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.popup__main-title b {
  margin: 5px;
}

.popup__main-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup__main-locations-item {
  position: relative;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 23px;
  border-top: 1px solid #dedede;
  font-size: 13px;
}

.location-title {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.location-text {
  display: block;
  text-align: center;
}

.location-text a {
  color: #000;
  text-decoration: none;
}

.location-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  color: #000;
  white-space: nowrap;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px;
  background-color: #000;
  font-family: "OpenSans", sans-serif;
  text-align: center;
}

.footer-logo {
  width: 164px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url("../images/logo-mob-footer-min.png") no-repeat;
}

.footer-logo a {
  color: transparent;
  font-size: 13px;
  letter-spacing: 36px;
}

.footer-social-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5px;
}

.footer-social__item {
  padding: 8px;
  border: 1px solid #626262;
  color: #626262;
  font-size: 15px;
  text-decoration: none;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__item:hover {
  border-color: #fff;
  color: #fff;
}

.copy-text {
  clear: both;
  display: block;
  margin-bottom: 10px;
  color: #626262;
  font-size: 13px;
}

.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.credit__item {
  width: 37px;
  height: 24px;
}

.credit__item:not(:last-child) {
  margin-right: 10px;
}

.credit__item-img {
  width: 100%;
}

.Wallop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Wallop-list {
  margin: 15px;
  position: relative;
}

.Wallop-item {
  width: 260px;
  height: 347px;
  margin: 0 auto;
}

.Wallop-item-img {
  width: 100%;
}

.Wallop-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 62px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
}

.Wallop-dot {
  width: 8px;
  height: 8px;
  outline: none;
  border-radius: 100%;
  background-color: #dedede;
}

.Wallop-dot.Wallop-dot--current {
  background-color: #f68235;
}

.Wallop-dot:hover {
  cursor: pointer;
}

.Wallop-buttonPrevious,
.Wallop-buttonNext {
  display: none;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .add-to-cart__text {
    padding: 12px 15px;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=mob-style.css.map */
