@charset "UTF-8";

@font-face {
  font-family: "svg-icons";
  src: url("../fonts/svg-icons.eot");
  src: url("../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../fonts/svg-icons.woff") format("woff"), url("../fonts/svg-icons.ttf") format("truetype"), url("../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--avatar:before {
  content: "";
}

.icon.icon--clock:before {
  content: "";
}

.icon.icon--close:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--hanger:before {
  content: "";
}

.icon.icon--heart:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--location-pin:before {
  content: "";
}

.icon.icon--minus:before {
  content: "";
}

.icon.icon--phone:before {
  content: "";
}

.icon.icon--pinterest:before {
  content: "";
}

.icon.icon--plus:before {
  content: "";
}

.icon.icon--shopping-cart:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--vk:before {
  content: "";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.header,
.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  position: relative;
  padding: 28px 124px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
}

.header-logo {
  width: 325px;
  margin: 30px 50px;
  background: url("../images/logo-min.png") no-repeat;
}

.header-logo a {
  color: transparent;
  font-size: 48px;
  letter-spacing: 12px;
  word-spacing: 7px;
}

.switcher {
  margin-top: 76px;
  margin-left: -51px;
}

.switcher__item {
  display: inline-block;
  padding: 6px;
  padding-right: 50px;
  background-color: #e5e5e5;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  vertical-align: bottom;
}

.switcher__item:hover {
  text-decoration: underline;
}

.switcher__item:last-child {
  position: relative;
  padding: 11px 30px;
  background-color: #f68235;
  color: #fff;
}

.switcher__item:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-bottom: 40px solid #f68235;
  border-left: 27px solid transparent;
}

.switcher__item span {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: top;
}

.switcher .icon--clock {
  position: relative;
  padding-left: 55px;
}

.switcher .icon--clock::before {
  position: absolute;
  top: 50%;
  left: 0;
  left: 16px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 17px;
  margin-right: 48px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #f68235;
  font-weight: 400;
  font-size: 15px;
}

.contact span {
  display: block;
  padding-left: 34px;
  color: #fff;
  font-family: "OpenSans", Arial, sans-serif;
}

.contact__link {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  color: #fff;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact .icon--contact {
  position: relative;
  color: #f68235;
  text-decoration: none;
}

.contact .icon--contact:not(:last-child) {
  margin-right: 27px;
}

.contact .icon--contact::before {
  position: absolute;
  top: -6px;
  left: -1px;
  padding: 6px;
  border: 1px solid #f68235;
  border-radius: 100%;
  font-size: 15px;
}

.basket {
  position: relative;
}

.basket::after {
  content: "2";
  position: absolute;
  top: -13px;
  left: 17px;
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 100%;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.phone {
  position: relative;
}

.phone span {
  padding-right: 34px;
  padding-left: 37px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.phone span:nth-of-type(2) {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.phone::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 16px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #f68235;
  border-right: 2px solid #f68235;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.login.icon--contact::before {
  left: 1px;
  padding: 8px;
  font-size: 12px;
}

.search {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 221px;
  margin-bottom: 11px;
}

.search__input {
  width: 100%;
  padding: 8px;
  padding-right: 24px;
  border: 1px solid #606060;
  background-color: #000;
  outline: none;
  color: #fff;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.search__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 600;
}

.search__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 600;
}

.search__input::placeholder {
  color: #fff;
  font-weight: 600;
}

.search__input:focus {
  border-color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 9px;
  height: 16px;
  border: 2px solid #f68235;
  border-radius: 100%;
  background-color: #000;
  outline: none;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.search-icon:hover {
  cursor: pointer;
}

.search-icon::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  width: 2px;
  height: 8px;
  background-color: #f68235;
}

[role="navigation"] {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding-right: 100px;
  padding-left: 50px;
  border-top: 1px solid #606060;
}

.main-menu__item {
  display: block;
  padding: 13px 0;
  color: #fff;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu__item:hover {
  text-decoration: underline;
}

.breadcrumbs {
  font-weight: 300;
  font-size: 12px;
}

.breadcrumbs__item {
  padding: 5px;
  color: #f68235;
  text-decoration: none;
  letter-spacing: -0.4px;
}

.breadcrumbs__item:last-child {
  color: #000;
  letter-spacing: -0.1px;
}

.breadcrumbs__item:not(:last-child):hover {
  text-decoration: underline;
}

.time-left {
  position: absolute;
  top: 14px;
  right: 130px;
  padding: 10px;
  padding-left: 49px;
  background-color: #e6e6e6;
}

.time-left__text {
  display: block;
  color: #000;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.4px;
}

.time-left__time {
  display: block;
  color: #f68235;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.time-left.icon--clock::before {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #898989;
  font-size: 28px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}

.product__sale {
  position: absolute;
  top: 0;
  left: 29px;
  z-index: 100;
}

.product__sale::before {
  color: #7d7d7d;
  font-size: 27px;
}

.product__title {
  margin: 0;
  color: #f68235;
  font-weight: 300;
  font-size: 25px;
}

.product__subtitle {
  display: block;
  margin: 0;
  margin-top: -1px;
  color: #000;
  font-weight: 200;
  font-size: 18px;
}

.photo {
  width: 60%;
}

.description {
  width: 40%;
  padding-left: 3px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -3px;
  margin-right: 7px;
  margin-bottom: 17px;
  font-size: 25px;
}

.price__number.price--old {
  margin-right: 15px;
  color: #999;
  text-decoration: line-through;
}

.price__number.price--new {
  color: #f68235;
  letter-spacing: 0.5px;
}

.price__sale {
  width: 45px;
  height: 45px;
  padding: 14px 0;
  border-radius: 100%;
  background-color: #828282;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.swatch {
  padding: 11px 0;
  border-top: 1px solid #dedede;
  font-size: 14px;
}

.swatch__text {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 12px;
  font-weight: 600;
}

.swatch__name {
  letter-spacing: -1px;
}

.swatch__pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.swatch__pic.active {
  border: 2px solid #f68235;
}

.swatch__pic:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.size {
  padding: 10px 0 12px;
  border-top: 1px solid #dedede;
  font-size: 14px;
}

.size__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 5px;
}

.size__text {
  margin-bottom: 10px;
  font-weight: 600;
}

.size__table {
  color: #999;
}

.size__table:hover {
  color: #000;
}

.size__pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 7px;
  padding: 8px 9px;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
}

.size__pic.active {
  border: 2px solid #f68235;
}

.size__pic.disabled {
  background-color: #dedede;
  color: #6d6d6d;
  pointer-events: none;
}

.size__pic:hover {
  border: 2px solid #000;
  padding: 8px;
  cursor: pointer;
}

.size__fit {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 6px;
  color: #999;
}

.size__fit:hover {
  color: #000;
}

.size__fit span {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
}

.size__fit.icon--hanger {
  position: relative;
}

.size__fit.icon--hanger::before {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  padding: 3px;
  border-radius: 100%;
  background-color: #487eba;
  color: #fff;
  font-size: 13px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quantity {
  padding: 11px 0;
  border-top: 1px solid #dedede;
  font-size: 14px;
}

.quantity__text {
  font-weight: 600;
  letter-spacing: -0.6px;
}

.quantity__count {
  margin-top: 10px;
}

.quantity__count-less {
  position: relative;
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 6px;
  cursor: pointer;
}

.quantity__count-less::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 8px;
  height: 2px;
  margin-left: 5px;
  background-color: #000;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.quantity__count-number {
  display: inline-block;
  width: 76px;
  height: 35px;
  border: 1px solid #dedede;
  outline: none;
  color: #000;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}

.quantity__count-more {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 9px;
  cursor: pointer;
}

.quantity__count-more::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 9px;
  height: 2px;
  background-color: #000;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.quantity__count-more::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.quantity__left {
  position: absolute;
  top: -54px;
  left: 50%;
  width: 78%;
  padding: 7px 0;
  background-color: #eaeaea;
  color: #000;
  letter-spacing: -1px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.quantity__left-number {
  margin-right: 5px;
}

.quantity__left::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 11px solid transparent;
  border-top: 11px solid #eaeaea;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.like {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 9px 30px;
  padding-left: 54px;
  border: 1px solid #dedede;
  font-weight: 200;
  font-size: 12px;
  text-decoration: none;
  vertical-align: bottom;
}

.like:hover {
  border-color: #000;
}

.like.icon--heart {
  position: relative;
}

.like.icon--heart::before {
  position: absolute;
  top: 50%;
  left: 28px;
  color: #000;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.like span {
  color: #000;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.add-to-cart {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;
  margin-left: 21px;
  padding-left: 25px;
  background-color: #f68235;
  font-weight: 200;
  font-size: 13px;
  text-decoration: none;
}

.add-to-cart:hover {
  background-color: #ef590e;
}

.add-to-cart:visited {
  color: #000;
}

.add-to-cart__text {
  display: inline-block;
  padding: 11px 26px;
  background: url("../images/shop-bag-min.png") no-repeat;
  background-position: 0 9px;
  color: #fff;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.shop-bag-img {
  width: 15px;
  height: 19px;
  margin-right: 12px;
}

.make-order {
  padding: 15px 0;
  border-top: 1px solid #dedede;
  font-size: 14px;
}

.call {
  margin-bottom: 20px;
}

.call.icon--phone {
  position: relative;
}

.call.icon--phone::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #7c7c7c;
  font-size: 20px;
}

.call__text {
  display: block;
  margin-bottom: 8px;
  padding-left: 30px;
  color: #000;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1px;
}

.call__number {
  margin-right: 10px;
  margin-left: 10px;
  color: #999;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1px;
}

.call__number:nth-child(2) {
  padding-left: 25px;
}

.call__number-text {
  color: #999;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.call__number:hover {
  color: #000;
}

.location.icon--location-pin {
  position: relative;
}

.location.icon--location-pin::before {
  position: absolute;
  top: 50%;
  left: 0;
  color: #7c7c7c;
  font-size: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.location__text {
  display: block;
  margin-bottom: 3px;
  padding-left: 32px;
  color: #000;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1px;
}

.details {
  padding: 16px 0;
  border-top: 1px solid #dedede;
}

.details__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 3px;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: -0.3px;
}

.details__title:hover {
  cursor: pointer;
}

.details__title.icon--plus ~ .details__item,
.details__title.icon--plus ~ .details__code,
.details__title.icon--plus ~ .details__info,
.details__title.icon--plus ~ .details__text {
  display: none;
}

.details__title::before {
  position: absolute;
  top: 50%;
  right: 6px;
  font-weight: bold;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.details__title span {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.details dl.details__item {
  margin: 0;
  margin-top: -5px;
}

.details__item {
  font-size: 14px;
}

.details__item-title {
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.4px;
  vertical-align: top;
}

.details__item-value {
  display: inline-block;
  width: 80%;
  margin: 0;
  letter-spacing: -0.6px;
}

.details__item b {
  margin-right: 5px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.details__code {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.details__code-title {
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.4px;
  vertical-align: top;
}

.details__code-number {
  display: inline-block;
  width: 75%;
  margin: 0;
  color: #a7a7a7;
}

.details__info {
  margin-top: 17px;
}

.details__text {
  margin: 0;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
}

.details__text b {
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 7px;
  padding-right: 10px;
  font-weight: bold;
  letter-spacing: -0.7px;
}

.details__text b a {
  color: #000;
}

.details__text-item {
  display: block;
  line-height: 17px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 24px 0 21px;
  border-top: 1px solid #dedede;
}

.social__text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.9px;
}

.social__item {
  margin-left: 18px;
  padding: 4px;
  border: 1px solid transparent;
  color: #3a3a3a;
  font-size: 18px;
  text-decoration: none;
}

.social__item:hover {
  padding: 4px;
  border: 1px solid #3a3a3a;
  border-radius: 100%;
}

.social.social--after {
  display: none;
}

.similar-goods {
  border-top: 1px solid #dedede;
}

.similar-goods__title {
  margin-bottom: 56px;
  font-weight: 300;
  font-size: 21px;
  text-align: center;
}

.similar-goods__title span {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.similar-goods__title.icon--plus ~ .similar-goods__block {
  display: none;
}

.similar-goods__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item {
  margin: 0 4px;
  margin-bottom: 24px;
}

.item:nth-child(2n) .item__title,
.item:nth-child(2n) .item__subtitle {
  margin-left: -13px;
}

.item:nth-child(2n) .item__price {
  margin-left: -6px;
}

.item:nth-child(2n) .item__price.price--old {
  margin-right: 18px;
}

.item__img {
  width: 205px;
  height: 273px;
  margin-bottom: 9px;
  background: url("../images/item-min.jpg") no-repeat;
  background-size: 100%;
}

.item__img a {
  color: transparent;
}

.item__title {
  margin: 0;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.item__subtitle {
  margin: 0;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.item__price {
  margin-top: 11px;
  font-size: 15px;
}

.item__price.price--old {
  margin-right: 7px;
  color: #999;
  letter-spacing: 0.4px;
  text-decoration: line-through;
}

.item__price.price--new {
  color: #f68235;
  letter-spacing: 0.2px;
}

.recommendation {
  padding: 49px 0;
  border-top: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.recommendation__text {
  color: #000;
  font-weight: 600;
}

.recommendation__link {
  margin-left: 20px;
  color: #999;
}

.recommendation__link:hover {
  color: #000;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  border-top: 1px solid #dedede;
}

.benefits__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.benefits__item:not(:last-child) {
  border-right: 1px solid #dedede;
}

.benefits__item-title {
  margin-top: 8px;
  margin-bottom: 22px;
  font-size: 17px;
}

.benefits__item-text {
  margin: 0;
  padding: 0 55px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 17px;
}

.benefits__item-link {
  display: inline-block;
  margin: 0 5px;
  color: #000;
}

.benefits__item-link[href^="tel:"] {
  margin: 0;
  text-decoration: none;
}

.benefits__item:last-child .benefits__item-text {
  padding: 0 37px;
}

.to-top {
  position: absolute;
  right: 50px;
  bottom: 60px;
  display: block;
  width: 59px;
  height: 59px;
  background: url(../images/to-top-min.png) no-repeat;
}

.location-popup {
  position: fixed;
  top: 0;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.location-popup__content {
  width: 635px;
  height: 358px;
  margin: 128px auto;
}

.popup {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.popup__header {
  position: relative;
  padding: 9px 36px 7px;
  background-color: #dbdbdb;
  font-size: 18px;
}

.popup__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.popup-close {
  position: absolute;
  top: 50%;
  right: 7px;
  color: #727272;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.popup__main {
  padding: 0 37px;
  padding-bottom: 58px;
  background-color: #fff;
}

.popup__main-title {
  display: block;
  padding: 38px 0 35px;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.2px;
}

.popup__main-title b {
  margin: 5px;
}

.popup__main-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.popup__main-locations-item {
  position: relative;
  margin-top: 48px;
  margin-bottom: 14px;
  padding-bottom: 29px;
  font-size: 13px;
}

.location-title {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.6px;
}

.location-text {
  display: block;
  text-align: center;
  letter-spacing: -0.5px;
}

.location-text a {
  color: #000;
  text-decoration: none;
}

.location-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  color: #000;
  white-space: nowrap;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  letter-spacing: -0.5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 27px 50px;
  background-color: #000;
  font-family: "OpenSans", Arial, sans-serif;
}

.footer__main-menu {
  font-size: 14px;
}

.footer__main-menu-item {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
}

.footer__main-menu-item:first-child {
  font-weight: 600;
}

.footer__main-menu-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__main-menu-item:not(:first-child):hover {
  text-decoration: underline;
}

.footer__buyer-menu,
.footer__about-menu {
  font-size: 13px;
}

.footer__buyer-menu-item,
.footer__about-menu-item {
  display: block;
  color: #fff;
  text-decoration: none;
}

.footer__buyer-menu-item:first-child,
.footer__about-menu-item:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

.footer__buyer-menu-item:not(:last-child),
.footer__about-menu-item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__buyer-menu-item:not(:first-child):hover,
.footer__about-menu-item:not(:first-child):hover {
  text-decoration: underline;
}

.footer-logo {
  width: 240px;
  height: 37px;
  margin-bottom: 27px;
  background: url("../images/logo-footer-min.png") no-repeat;
}

.footer-logo a {
  color: transparent;
  font-size: 36px;
  letter-spacing: 42px;
}

.footer-social-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 12px;
}

.footer-social__item {
  padding: 7px;
  border: 1px solid #626262;
  color: #626262;
  font-size: 15px;
  text-decoration: none;
}

.footer-social__item:not(:last-child) {
  margin-right: 15px;
}

.footer-social__item:hover {
  border-color: #fff;
  color: #fff;
}

.copy {
  text-align: right;
}

.copy-text {
  clear: both;
  display: block;
  color: #626262;
  font-size: 13px;
  text-align: right;
  letter-spacing: -0.2px;
  margin-bottom: 7px;
}

.credit {
  width: 131px;
  height: 24px;
  margin-top: 10px;
  margin-left: 71px;
}

.credit__img {
  width: 100%;
}

.Wallop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.Wallop-list {
  position: relative;
  margin: 4px 30px;
}

.Wallop-item {
  overflow: hidden;
  width: 481px;
  height: 633px;
}

.Wallop-item-img {
  width: 100%;
}

.Wallop-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75px;
}

.Wallop-dot {
  width: 73px;
  height: 97px;
  margin: 4px auto;
  border: 2px solid transparent;
  outline: none;
}

.Wallop-dot.Wallop-dot--1 {
  margin-top: 7px;
  background: url("../images/photo1-min.jpg") no-repeat;
  background-size: 100%;
}

.Wallop-dot.Wallop-dot--2 {
  background: url("../images/photo2-min.jpg") no-repeat;
  background-size: 100%;
}

.Wallop-dot.Wallop-dot--3 {
  background: url("../images/photo3-min.jpg") no-repeat;
  background-size: 100%;
}

.Wallop-dot.Wallop-dot--4 {
  margin-bottom: 7px;
  background: url("../images/photo4-min.jpg") no-repeat;
  background-size: 100%;
}

.Wallop-dot.Wallop-dot--current {
  border: 2px solid #f68235;
}

.Wallop-dot:hover {
  cursor: pointer;
}

.Wallop-buttonPrevious,
.Wallop-buttonNext {
  position: relative;
  display: block;
  margin: 15px auto;
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

.Wallop-buttonNext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 24px;
  background-color: #d0d0d0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Wallop-buttonNext::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-top: solid 1px #d0d0d0;
  border-right: solid 1px #d0d0d0;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

.Wallop-buttonNext:hover {
  cursor: pointer;
}

.Wallop-buttonNext:hover::before {
  border-color: #f68235;
  cursor: pointer;
}

.Wallop-buttonNext:hover::after {
  background-color: #f68235;
  cursor: pointer;
}

.Wallop-buttonPrevious::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  width: 1px;
  height: 24px;
  background-color: #d0d0d0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.Wallop-buttonPrevious::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16px;
  height: 16px;
  border-top: solid 1px #d0d0d0;
  border-right: solid 1px #d0d0d0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
  transform: translate(50%, -50%) rotate(-45deg);
}

.Wallop-buttonPrevious:hover {
  cursor: pointer;
}

.Wallop-buttonPrevious:hover::before {
  border-color: #f68235;
  cursor: pointer;
}

.Wallop-buttonPrevious:hover::after {
  background-color: #f68235;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  .shop {
    display: none;
  }

  .similar-goods__title.icon--minus::before {
    display: none;
  }

  .item__img a {
    font-size: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .header,
  .main,
  .footer {
    max-width: 620px;
  }

  .main {
    padding: 0;
  }

  .header-logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 168px;
    margin: 0;
    margin-top: 27px;
    padding-bottom: 26px;
    background: url("../images/m-logo-min.png") no-repeat;
  }

  .header-logo a {
    font-size: 10px;
    letter-spacing: 37px;
    word-spacing: 0;
  }

  .switcher {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    margin-top: -10px;
    margin-left: 0;
  }

  .switcher__item {
    width: 54%;
    text-align: center;
    padding: 7px;
  }

  .switcher__item:last-child {
    width: 46%;
    padding: 14px 30px;
  }

  .switcher__item:last-child::before {
    border-bottom-width: 46px;
  }

  .switcher__item span {
    vertical-align: middle;
  }

  .switcher .icon--clock {
    padding-left: 11px;
  }

  .switcher .icon--clock::before {
    left: 29px;
  }

  .contact-search {
    display: none;
  }

  [role="navigation"] {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .main-menu {
    display: none;
  }

  .menu-icon {
    position: relative;
    z-index: 1000;
    display: inline-block;
    width: 23px;
    height: 3px;
    margin-top: 38px;
    margin-left: 20px;
    margin-right: -3px;
    background-color: #f68235;
    cursor: pointer;
  }

  .menu-icon::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 23px;
    height: 3px;
    background-color: #f68235;
  }

  .menu-icon::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 23px;
    height: 3px;
    background-color: #f68235;
  }

  .menu-icon.is-open {
    position: fixed;
    top: 0;
  }

  .menu-icon.is-open ~ .main-menu {
    position: fixed;
    top: -16px;
    right: 0;
    bottom: -16px;
    left: 0;
    z-index: 200;
    display: block;
    padding: 0;
    padding-top: 15px;
    padding-left: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    list-style: none;
  }

  .menu-icon.is-open ~ .main-menu li {
    display: block;
    padding: 7px;
  }

  .menu-icon.is-open ~ .main-menu a {
    color: #fff;
    text-decoration: none;
  }

  .menu-icon.is-open ~ .main-menu a:hover {
    text-decoration: underline;
  }

  .shop {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding-top: 27px;
    padding-right: 20px;
  }

  .breadcrumbs {
    padding: 19px 16px;
  }

  .breadcrumbs__item {
    padding: 3px;
    letter-spacing: 0;
  }

  .time-left {
    display: none;
  }

  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 6px;
  }

  .product__title {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.3px;
    margin-left: 20px;
  }

  .product__subtitle {
    padding-right: 140px;
    margin-top: 10px;
    letter-spacing: 0.1px;
    font-weight: 300;
    font-size: 14px;
  }

  .photo {
    width: 100%;
  }

  .description {
    width: 100%;
    margin-top: 17px;
    padding-left: 0;
  }

  .price {
    margin-top: 24px;
    margin-bottom: 0;
    padding: 8px 14px 8px 19px;
    background-color: #ededed;
  }

  .price__number.price--old {
    display: block;
    font-size: 14px;
  }

  .price__number.price--new {
    display: block;
    font-size: 24px;
    letter-spacing: -0.2px;
  }

  .price__sale {
    padding: 14px 5px;
    font-size: 16px;
  }

  .swatch {
    padding: 21px 20px;
    border: none;
    font-size: 12px;
  }

  .swatch__text {
    margin-right: 2px;
  }

  .size {
    padding: 26px 20px;
    font-size: 12px;
  }

  .size__info {
    padding-right: 0;
  }

  .size__table {
    letter-spacing: -0.1px;
  }

  .size__pic {
    padding: 10px;
  }

  .size__fit span {
    font-size: 12px;
  }

  .size__fit.icon--hanger::before {
    width: 12px;
    height: 12px;
    padding: 3px;
    margin-left: 7px;
    font-size: 10px;
  }

  .quantity {
    padding: 24px 19px 4px;
    font-size: 12px;
  }

  .quantity__text {
    letter-spacing: 0.6px;
  }

  .quantity__count {
    margin-top: 18px;
  }

  .quantity__count-less {
    margin-right: 16px;
  }

  .quantity__count-less::before {
    width: 10px;
  }

  .quantity__count-number {
    width: 42px;
    height: 42px;
    padding: 9px;
  }

  .quantity__left {
    left: 59%;
    top: -65px;
    padding: 8px 0;
    width: 80%;
    font-size: 12px;
  }

  .quantity__left::after {
    left: 71%;
    border-width: 6px;
  }

  .like {
    padding: 20px;
    margin-top: 23px;
  }

  .like.icon--heart::before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .like span {
    display: none;
  }

  .add-to-cart {
    float: right;
    margin-left: 0;
    padding-left: 15px;
    margin-top: 23px;
  }

  .add-to-cart__text {
    padding: 13px 22px;
    padding-left: 23px;
    letter-spacing: -0.1px;
    background-position: 5px 11px;
  }

  .make-order {
    padding: 26px 18px;
    font-size: 12px;
  }

  .call__text {
    letter-spacing: 0;
    margin-bottom: 12px;
  }

  .call__number {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 30px;
    letter-spacing: 0.5px;
  }

  .call__number:nth-child(2) {
    padding-left: 30px;
  }

  .call__number-text {
    display: none;
  }

  .location {
    margin-top: -4px;
  }

  .location__text {
    letter-spacing: 0;
  }

  .details {
    padding: 17px 15px 16px;
  }

  .details__title {
    margin-bottom: 19px;
    font-size: 18px;
  }

  .details dl.details__item {
    margin-left: 5px;
    line-height: 14px;
  }

  .details__item {
    font-size: 12px;
    margin-left: 5px;
  }

  .details__item-value {
    letter-spacing: -0.1px;
  }

  .details__code {
    margin-top: 16px;
    margin-left: 5px;
    font-size: 12px;
  }

  .details__code-title {
    letter-spacing: 0.1px;
  }

  .details__code-number {
    width: 70%;
    letter-spacing: -0.4px;
  }

  .details__info {
    margin-left: 5px;
    margin-top: 14px;
  }

  .details__text {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
  }

  .details__text b {
    padding-right: 5px;
    margin-bottom: 5px;
    letter-spacing: -0.3px;
  }

  .details__text-item {
    line-height: 14px;
    margin-left: 5px;
    margin-top: 1px;
  }

  .details__text-item:first-child {
    margin-top: 9px;
  }

  .details__text-item:last-child {
    margin-bottom: 9px;
  }

  .details:nth-last-child(2) .details__title {
    letter-spacing: 0.1px;
    margin-bottom: 21px;
  }

  .details:nth-last-child(2) .details__item {
    margin-bottom: 8px;
  }

  .details:nth-last-child(2) .details__item b {
    display: block;
  }

  .details:nth-last-child(2) .details__text b {
    padding-right: 9px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .social.social--after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }

  .social.social--before {
    display: none;
  }

  .similar-goods {
    padding: 17px 19px;
  }

  .similar-goods__title {
    position: relative;
    margin: 0;
    margin-bottom: 18px;
    font-size: 18px;
    text-align: left;
  }

  .similar-goods__title.icon--minus::before {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .similar-goods__block {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-bottom: 11px;
  }

  .item {
    margin: 0 1px;
    margin-bottom: 13px;
  }

  .item__img {
    width: 119px;
    height: 179px;
    margin-bottom: 7px;
  }

  .item__img.item--1 {
    background: url("../images/item1-min.jpg") no-repeat;
  }

  .item__img.item--2 {
    background: url("../images/item2-min.jpg") no-repeat;
  }

  .item__img.item--3 {
    background: url("../images/item3-min.jpg") no-repeat;
  }

  .item__img.item--4 {
    background: url("../images/item4-min.jpg") no-repeat;
  }

  .item__img a {
    font-size: 40px;
  }

  .item__title {
    font-size: 12px;
    margin-left: -1px;
    letter-spacing: -0.6px;
    margin-bottom: 3px;
  }

  .item__subtitle {
    font-size: 10px;
    letter-spacing: 0;
  }

  .item__price {
    margin-top: 3px;
    font-size: 10px;
  }

  .item__price.price--old {
    display: inline-block;
    letter-spacing: 0;
    margin-right: 10px;
  }

  .item__price.price--new {
    display: inline-block;
  }

  .recommendation {
    padding: 20px 17px;
    font-size: 12px;
    text-align: left;
  }

  .recommendation__text {
    display: block;
    margin-bottom: 18px;
  }

  .recommendation__link {
    display: block;
    margin-right: 0;
    margin-top: -1px;
    margin-left: 2px;
    line-height: 24px;
  }

  .benefits {
    display: none;
  }

  .to-top {
    display: none;
  }

  .location-popup {
    z-index: 2000;
  }

  .location-popup__content {
    width: 260px;
    height: 675px;
    margin: 10px auto;
  }

  .popup__header {
    padding: 6px 122px 7px 8px;
    font-size: 14px;
  }

  .popup__title {
    font-size: 14px;
    letter-spacing: -0.6px;
  }

  .popup-close {
    right: 8px;
  }

  .popup-close::before {
    font-size: 20px;
  }

  .popup__main {
    padding: 0;
  }

  .popup__main-title {
    padding: 27px 0;
  }

  .popup__main-locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
  }

  .popup__main-locations-item {
    margin-top: 0;
    margin-bottom: 36px;
    padding-top: 33px;
    padding-bottom: 44px;
    border-top: 1px solid #dedede;
    font-size: 13px;
  }

  .location-title {
    letter-spacing: -0.7px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 25px;
    text-align: center;
  }

  .footer__main-menu {
    display: none;
  }

  .footer__buyer-menu,
  .footer__about-menu {
    display: none;
  }

  .footer-logo {
    width: 164px;
    height: 25px;
    margin: 20px auto 18px;
    background: url("../images/logo-mob-footer-min.png") no-repeat;
  }

  .footer-logo a {
    font-size: 13px;
    letter-spacing: 36px;
  }

  .footer-social-credit {
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .footer-social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;
  }

  .copy-text {
    margin-bottom: 10px;
    text-align: center;
  }

  .credit {
    margin: 20px auto;
  }

  .Wallop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Wallop-item {
    width: 228px;
    height: 342px;
  }

  .Wallop-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    width: 70px;
    margin-top: 15px;
  }

  .Wallop-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  .Wallop-dot.Wallop-dot--1 {
    background: none;
    background-color: #dedede;
  }

  .Wallop-dot.Wallop-dot--1 {
    margin-top: 4px;
  }

  .Wallop-dot.Wallop-dot--2 {
    background: none;
    background-color: #dedede;
  }

  .Wallop-dot.Wallop-dot--3 {
    background: none;
    background-color: #dedede;
  }

  .Wallop-dot.Wallop-dot--4 {
    background: none;
    background-color: #dedede;
  }

  .Wallop-dot.Wallop-dot--4 {
    margin-bottom: 4px;
  }

  .Wallop-dot.Wallop-dot--current {
    background-color: #f68235;
  }

  .Wallop-buttonPrevious,
  .Wallop-buttonNext {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main {
    padding: 26px 15px;
  }

  .header-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 18px;
    width: 230px;
    background: url("../images/logo-tab-min.png") no-repeat;
  }

  .header-logo a {
    font-size: 28px;
    letter-spacing: 12px;
  }

  .switcher {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: -46px;
    margin-left: 20px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .switcher__item {
    padding: 9px;
    padding-right: 63px;
  }

  .switcher__item:last-child {
    padding: 14px 32px;
  }

  .switcher__item:last-child::before {
    border-bottom-width: 46px;
  }

  .switcher__item span {
    vertical-align: bottom;
  }

  .switcher .icon--clock {
    padding-left: 41px;
  }

  .switcher .icon--clock::before {
    left: 10px;
  }

  .contact-search {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 20px;
    margin-right: 20px;
  }

  .contact span:not(:first-child) {
    font-size: 12px;
  }

  .contact .icon--contact:not(:last-child) {
    margin-right: 36px;
  }

  .contact .icon--contact::before {
    top: -7px;
  }

  .phone span {
    padding-right: 25px;
    padding-left: 38px;
  }

  .phone::after {
    right: 7px;
  }

  .login.icon--contact::before {
    padding: 7px;
  }

  .search {
    margin-bottom: 9px;
  }

  .search__input {
    padding-left: 10px;
  }

  [role="navigation"] {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .main-menu {
    padding-right: 20px;
    padding-left: 20px;
  }

  .shop {
    display: none;
  }

  .breadcrumbs__item {
    letter-spacing: -0.3px;
  }

  .breadcrumbs__item:last-child {
    letter-spacing: 0.2px;
  }

  .time-left {
    top: 14px;
    right: 20px;
  }

  .time-left.icon--clock::before {
    font-size: 30px;
  }

  .product__title {
    font-size: 18px;
    letter-spacing: -0.2px;
    margin-bottom: 9px;
  }

  .product__subtitle {
    padding-right: 141px;
    font-size: 14px;
    margin-top: 9px;
  }

  .description {
    padding-left: 0;
  }

  .price {
    margin-bottom: 18px;
  }

  .price__number.price--old {
    display: block;
    margin: 0;
    font-size: 14px;
    letter-spacing: -0.1px;
  }

  .price__number.price--new {
    display: block;
    font-size: 24px;
    letter-spacing: -0.4px;
  }

  .price__sale {
    width: 30px;
    height: 30px;
    padding: 9px 0;
    font-size: 12px;
    margin-top: 18px;
  }

  .swatch {
    font-size: 12px;
    padding: 18px 0 19px;
  }

  .swatch__text {
    letter-spacing: -0.6px;
  }

  .size {
    font-size: 12px;
    padding: 18px 0;
    margin-left: -3px;
  }

  .size__text {
    letter-spacing: -0.6px;
    margin-bottom: 14px;
  }

  .size__pic {
    padding: 9px;
  }

  .size__fit span {
    font-size: 12px;
  }

  .size__fit.icon--hanger::before {
    width: 12px;
    height: 12px;
    padding: 3px;
    font-size: 10px;
  }

  .quantity {
    padding: 16px 0 4px;
    margin-left: -3px;
    margin-right: 5px;
  }

  .quantity__count-number {
    width: 35px;
    height: 35px;
    padding: 9px;
  }

  .quantity__left {
    left: 61%;
    top: -50px;
    font-size: 12px;
  }

  .quantity__left::after {
    left: 71%;
    border-width: 6px;
  }

  .like {
    padding: 17px;
    margin-left: 16px;
    margin-top: 18px;
  }

  .like.icon--heart::before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .like span {
    display: none;
  }

  .add-to-cart {
    float: right;
    margin-left: 0;
    padding-left: 15px;
    margin-top: 16px;
  }

  .add-to-cart__text {
    padding: 11px 24px;
    padding-left: 38px;
    background-position: 10px 9px;
  }

  .make-order {
    font-size: 12px;
    padding: 15px 0 18px;
  }

  .call {
    margin-bottom: 22px;
  }

  .call__text {
    letter-spacing: -0.1px;
  }

  .call__number {
    margin-right: 3px;
    margin-left: 3px;
  }

  .location.icon--location-pin::before {
    left: -4px;
  }

  .location__text {
    padding-left: 29px;
    letter-spacing: -0.1px;
  }

  .details {
    padding: 14px 0;
    margin-left: -7px;
  }

  .details__title {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .details dl.details__item {
    margin-top: -3px;
    margin-left: 5px;
    line-height: 14px;
  }

  .details__item {
    font-size: 12px;
    margin-left: 5px;
    margin-top: -1px;
  }

  .details__code {
    margin-top: 16px;
    margin-left: 5px;
    font-size: 12px;
  }

  .details__info {
    margin-top: 15px;
  }

  .details__text {
    margin: 0;
    margin-left: 5px;
    line-height: 14px;
    font-size: 12px;
  }

  .details__text b {
    margin-bottom: 5px;
    padding-right: 0;
    letter-spacing: -0.5px;
  }

  .details__text-item {
    line-height: 12px;
  }

  .details:nth-last-child(2) .details__item b {
    display: block;
  }

  .details:nth-last-child(2) .details__text b {
    padding-right: 10px;
  }

  .social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0 16px;
  }

  .social__text {
    font-size: 12px;
    margin-top: 3px;
  }

  .similar-goods__title {
    margin-top: 30px;
    letter-spacing: -1.5px;
    margin-bottom: 17px;
  }

  .similar-goods__title.icon--minus::before {
    display: none;
  }

  .similar-goods__block {
    padding: 0 20px;
  }

  .item {
    margin: 0;
    margin-bottom: 19px;
  }

  .item__img {
    width: 154px;
    height: 205px;
  }

  .item__img a {
    font-size: 44px;
  }

  .item__title {
    font-size: 12px;
  }

  .item__subtitle {
    font-size: 10px;
    letter-spacing: -0.1px;
  }

  .item__price {
    margin-top: 4px;
    font-size: 10px;
  }

  .item__price.price--old {
    display: inline-block;
    letter-spacing: -0.1px;
    margin-right: 12px;
  }

  .item__price.price--new {
    display: inline-block;
    letter-spacing: 0.1px;
  }

  .recommendation {
    padding: 37px 0;
    font-size: 12px;
    letter-spacing: -0.5px;
  }

  .benefits {
    padding-top: 27px;
  }

  .benefits__item-title {
    font-size: 14px;
    margin-bottom: 7px;
  }

  .benefits__item-text {
    padding: 0 30px;
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 13px;
  }

  .benefits__item:last-child .benefits__item-text {
    padding: 0 25px;
  }

  .to-top {
    display: none;
  }

  .location-popup__content {
    margin: 87px auto;
  }

  .footer {
    padding: 27px 22px;
  }

  .footer-logo {
    width: 237px;
  }

  .footer-social {
    margin-right: -3px;
  }

  .copy-text {
    letter-spacing: -0.3px;
  }

  .Wallop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Wallop-item {
    height: 547px;
    width: 430px;
  }

  .Wallop-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-top: 13px;
  }

  .Wallop-dot {
    width: 64px;
    height: 83px;
  }

  .Wallop-dot.Wallop-dot--1 {
    margin-top: 4px;
  }

  .Wallop-dot.Wallop-dot--4 {
    margin-bottom: 4px;
  }

  .Wallop-buttonNext::after {
    width: 24px;
    height: 1px;
  }

  .Wallop-buttonNext::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .Wallop-buttonPrevious::after {
    width: 24px;
    height: 1px;
  }

  .Wallop-buttonPrevious::before {
    -webkit-transform: translate(50%, -50%) rotate(-135deg);
    transform: translate(50%, -50%) rotate(-135deg);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .shop {
    display: none;
  }

  .similar-goods__title.icon--minus::before {
    display: none;
  }

  .item__img a {
    font-size: 60px;
  }
}
/*# sourceMappingURL=style.css.map */
