.benefits {
	border-top: 1px solid #dedede;
	padding: 25px 0;
	display: flex;
	&__item {
		text-align: center;
		flex: 1;
		&:not(:last-child) {
			border-right: 1px solid #dedede;
		}
		&-title {
			font-size: 17px;
			@include respond-to(tablets) {
				font-size: 14px;
			}
		}
		&-text {
			font-size: 14px;
			padding: 0 55px;
			@include respond-to(tablets) {
				padding: 0 35px;
				font-size: 10px;
			}
		}
		&-link {
			display: inline-block;
			margin: 0 5px;
			color: #000;
			&[href^="tel:"] {
				text-decoration: none;
			}
		}
	}
}

.to-top {
	position: absolute;
	bottom: 60px;
	right: 50px;
	width: 59px;
	height: 59px;
	background: url(../images/to-top-min.png) no-repeat;
	display: block;
	@include respond-to(tablets) {
		display: none;
	}
}