.benefits {
	display: flex;
	padding: 25px 0;
	border-top: 1px solid $border-color;
	&__item {
		flex: 1;

		text-align: center;
		&:not(:last-child) {
			border-right: 1px solid $border-color;
		}
		&-title {
			@include respond-to(tablets) {
				font-size: $benefits-title-font-size-tab;
			}

			font-size: $benefits-title-font-size;
		}
		&-text {
			@include respond-to(tablets) {
				padding: 0 35px;

				font-size: $benefits-text-font-size-tab;
			}

			padding: 0 55px;

			font-size: $benefits-text-font-size;
		}
		&-link {
			display: inline-block;
			margin: 0 5px;

			color: $primary-text-color;
			&[href^="tel:"] {
				text-decoration: none;
			}
		}
	}
}

.to-top {
	@include respond-to(tablets) {
		display: none;
	}

	position: absolute;
	right: 50px;
	bottom: 60px;

	display: block;
	width: 59px;
	height: 59px;

	background: url(../images/to-top-min.png) no-repeat;
}
