.benefits {
	@include respond-to(handhelds) {
		display: none;
	}

	display: flex;
	padding-top: 25px;
	border-top: 1px solid $border-color;
	@include respond-to(tablets) {
		padding-top: 27px;
	}
	&__item {
		flex: 1;

		text-align: center;
		&:not(:last-child) {
			border-right: 1px solid $border-color;
		}
		&-title {
			@include respond-to(tablets) {
				font-size: $benefits-title-font-size-tab;
				margin-bottom: 7px;
			}

			margin-top: 8px;
			margin-bottom: 22px;

			font-size: $benefits-title-font-size;
		}
		&-text {
			@include respond-to(tablets) {
				padding: 0 30px;
				padding-bottom: 5px;

				font-size: $benefits-text-font-size-tab;
				line-height: 13px;
			}

			margin: 0;
			padding: 0 55px;
			padding-bottom: 11px;

			font-size: $benefits-text-font-size;
			line-height: 17px;
		}
		&-link {
			display: inline-block;
			margin: 0 5px;

			color: $primary-text-color;
			&[href^="tel:"] {
				margin: 0;

				text-decoration: none;
			}
		}
		&:last-child {
			.benefits__item-text {
				padding: 0 37px;
				@include respond-to(tablets) {
					padding: 0 25px;
				}
			}
		}
	}
}

.to-top {
	@include respond-to(tablets) {
		display: none;
	}
	@include respond-to(handhelds) {
		display: none;
	}

	position: absolute;
	right: 50px;
	bottom: 60px;

	display: block;
	width: 59px;
	height: 59px;

	background: url(../images/to-top-min.png) no-repeat;
}
