.breadcrumbs {
	@include respond-to(handhelds) {
		padding: 19px 16px;
	}

	font-weight: 300;
	font-size: $breadcrumbs-font-size;
	&__item {
		@include respond-to(handhelds) {
			padding: 3px;

			letter-spacing: 0;
		}
		@include respond-to(tablets) {
			letter-spacing: -0.3px;
		}

		padding: 5px;

		color: $breadcrums-link-color;
		letter-spacing: -0.4px;
		text-decoration: none;
		&:last-child {
			@include respond-to(tablets) {
				letter-spacing: 0.2px;
			}

			color: $breadcrums-item-color;
			letter-spacing: -0.1px;
		}
		&:not(:last-child) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
