.breadcrumbs {
	font-weight: 300;
	font-size: 12px;
	&__item {
		text-decoration: none;
		color: #f68235;
		padding: 5px;
		&:last-child {
			color: #000;
		}
		&:not(:last-child) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}