@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 300;

	src: url('../fonts/helveticaneue_light-webfont.woff') format('woff'),
	url('../fonts/helveticaneue_light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 400;

	src: url('../fonts/helveticaneue_medium-webfont.woff') format('woff'),
	url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 200;

	src: url('../fonts/helveticaneue_thin-webfont.woff') format('woff'),
	url('../fonts/helveticaneue_thin-webfont.woff2') format('woff2');
}
