.footer {
	display: flex;
	justify-content: space-between;
	padding: 30px 50px;

	background-color: $footer-background-color;

	font-family: $font-stack-OpenSans;
	&__main-menu {
		font-size: $footer-main-menu-font-size;
		&-item {
			display: block;

			color: $footer-menu-item-color;
			text-transform: uppercase;
			text-decoration: none;
			&:first-child {
				font-weight: 600;
			}
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&:not(:first-child) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__buyer-menu,
	&__about-menu {
		font-size: $footer-submenu-font-size;
		&-item {
			display: block;

			color: $footer-menu-item-color;
			text-decoration: none;
			&:first-child {
				font-weight: 600;
				text-transform: uppercase;
			}
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&:not(:first-child) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&-logo {
		float: right;

		width: 240px;
		height: 37px;
		margin-bottom: 20px;

		background: url('../images/logo-footer-min.png') no-repeat;
		a {
			color: transparent;
			font-size: 36px;
			letter-spacing: 42px;
		}
	}
	&-social-credit {
		display: flex;
		flex-direction: column;
	}
	&-social {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		&__item {
			padding: 8px;
			border: 1px solid $footer-social-item-color;

			color: $footer-social-item-color;
			font-size: $footer-social-font-size;
			text-decoration: none;
			&:not(:last-child) {
				margin-right: 20px;
			}
			&:hover {
				border-color: $white;

				color: $white;
			}
		}
	}
}

.copy {
	text-align: right;
	&-text {
		clear: both;

		display: block;

		color: $footer-text-color;
		font-size: $footer-text-font-size;
		text-align: right;
	}
}

.credit {
	width: 131px;
	height: 24px;
	margin-top: 10px;
	margin-left: 48px;
	&__img {
		@include image-fit;
	}
}
