* {
	box-sizing: border-box;
}

html {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	font-weight: 300;
}

.main {
	padding: 20px 120px;
	position: relative;
	@include respond-to(tablets) {
		padding: 27px 20px;
	}
}