* {
	box-sizing: border-box;
}

html {
	font-family: $font-stack-Helvetica;
	font-weight: 300;
}

.header,
.main,
.footer {
	@include respond-to(handhelds) {
		max-width: $max-width-mob;
	}

	max-width: $max-width;
	margin: 0 auto;
}

.main {
	@include respond-to(tablets) {
		padding: 27px 20px;
	}
	@include respond-to(handhelds) {
		padding: 20px;
	}

	position: relative;

	padding: 20px 120px;
}
