.header {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	background-color: $header-background-color;
	&-logo {
		@include respond-to(tablets) {
			order: 1;
			margin: 18px;
			width: 230px;

			background: url('../images/logo-tab-min.png') no-repeat;
		}
		@include respond-to(handhelds) {
			order: 2;
			width: 168px;
			margin: 0;
			margin-top: 27px;
			padding-bottom: 26px;

			background: url('../images/m-logo-min.png') no-repeat;
		}

		width: 325px;
		margin: 30px 50px;

		background: url('../images/logo-min.png') no-repeat;
		a {
			@include respond-to(handhelds) {
				font-size: 10px;
				letter-spacing: 37px;
				word-spacing: 0;
			}
			@include respond-to(tablets) {
				font-size: 28px;
				letter-spacing: 12px;
			}

			color: transparent;
			font-size: 48px;
			letter-spacing: 12px;
			word-spacing: 7px;
		}
	}
}

.switcher {
	@include respond-to(tablets) {
		order: 3;
		margin-top: -46px;
		margin-left: 20px;
		flex-basis: 100%;
	}
	@include respond-to(handhelds) {
		flex-basis: 100%;
		order: 4;
		margin-top: -10px;
		margin-left: 0;
	}

	margin-top: 76px;
	margin-left: -51px;
	&__item {
		@include respond-to(handhelds) {
			width: 54%;

			text-align: center;
			padding: 7px;
		}
		@include respond-to(tablets) {
			padding: 9px;
			padding-right: 63px;
		}

		display: inline-block;
		padding: 6px;
		padding-right: 50px;

		background-color: $switcher-background-color;

		color: $primary-text-color;
		font-weight: 300;
		text-decoration: none;
		vertical-align: bottom;
		&:hover {
			text-decoration: underline;
		}
		&:last-child {
			position: relative;

			padding: 11px 30px;

			background-color: $switcher-contrast-background-color;

			color: $white;
			@include respond-to(tablets) {
				padding: 14px 32px;
			}
			@include respond-to(handhelds) {
				width: 46%;
				padding: 14px 30px;
			}
			&::before {
				content: "";

				position: absolute;
				top: 0;
				right: 100%;

				width: 0;
				height: 0;
				border-bottom: 40px solid $switcher-contrast-background-color;
				border-left: 27px solid transparent;
				@include respond-to(tablets) {
					border-bottom-width: 46px;
				}
				@include respond-to(handhelds) {
					border-bottom-width: 46px;
				}
			}
		}
		span {
			font-family: $font-stack-Helvetica;
			font-size: $switcher-font-size;
			text-transform: uppercase;
			vertical-align: top;
			@include respond-to(tablets) {
				vertical-align: bottom;
			}
			@include respond-to(handhelds) {
				vertical-align: middle;
			}
		}
	}
	.icon--clock {
		position: relative;

		padding-left: 55px;
		@include respond-to(tablets) {
			padding-left: 41px;
		}
		@include respond-to(handhelds) {
			padding-left: 11px;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			left: 16px;

			font-size: $switcher-clock-size;

			transform: translateY(-50%);
			@include respond-to(tablets) {
				left: 10px;
			}
			@include respond-to(handhelds) {
				left: 29px;
			}
		}
	}
}

.contact-search {
	@include respond-to(tablets) {
		order: 2;
		margin-top: 20px;
		margin-right: 20px;
	}
	@include respond-to(handhelds) {
		display: none;
	}

	display: flex;
	flex-direction: column;
	margin-top: 17px;
	margin-right: 48px;
}

.contact {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	color: $contact-icon-color;
	font-weight: 400;
	font-size: $contact-font-size;
	span {
		display: block;
		padding-left: 34px;

		color: $contact-text-color;
		font-family: $font-stack-OpenSans;
		&:not(:first-child) {
			@include respond-to(tablets) {
				font-size: $contact-font-size-tab;
			}
		}
	}
	&__link {
		position: relative;

		display: inline-block;
		padding-bottom: 6px;

		color: $contact-text-color;
		font-family: $font-stack-OpenSans;
		font-size: $contact-font-size;
		letter-spacing: 1px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon--contact {
		position: relative;

		color: $contact-icon-color;
		text-decoration: none;
		&:not(:last-child) {
			margin-right: 27px;
			@include respond-to(tablets) {
				margin-right: 36px;
			}
		}
		&::before {
			position: absolute;
			top: -6px;
			left: -1px;

			padding: 6px;
			border: 1px solid $orange;

			border-radius: 100%;

			font-size: 15px;
			@include respond-to(tablets) {
				top: -7px;
			}
		}
	}
}

.basket {
	position: relative;
	&::after {
		content: "2";

		position: absolute;
		top: -13px;
		left: 17px;

		width: 14px;
		height: 14px;
		padding: 1px;

		border-radius: 100%;
		background-color: $white;

		color: $primary-text-color;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
	}
}

.phone {
	position: relative;
	span {
		padding-right: 34px;
		padding-left: 37px;

		font-size: 16px;
		letter-spacing: -0.5px;
		&:nth-of-type(2) {
			font-size: 12px;
			letter-spacing: 0.4px;
		}
		@include respond-to(tablets) {
			padding-right: 25px;
			padding-left: 38px;
		}
	}
	&::after {
		content: "";

		position: absolute;
		top: 3px;
		right: 16px;

		width: 6px;
		height: 6px;
		border-top: 2px solid $orange;
		border-right: 2px solid $orange;

		transform: rotate(135deg);
		@include respond-to(tablets) {
			right: 7px;
		}
	}
}

.login.icon--contact {
	&::before {
		left: 1px;

		padding: 8px;

		font-size: 12px;
		@include respond-to(tablets) {
			padding: 7px;
		}
	}
}

.search {
	position: relative;

	align-self: flex-end;
	width: 221px;
	margin-bottom: 11px;
	@include respond-to(tablets) {
		margin-bottom: 9px;
	}
	&__input {
		width: 100%;
		padding: 8px;
		padding-right: 24px;
		border: 1px solid $header-border-color;

		background-color: $black;
		outline: none;

		color: $white;
		font-family: $font-stack-OpenSans;
		font-weight: 600;
		font-size: $search-font-size;
		letter-spacing: 1px;
		&::placeholder {
			color: $white;
			font-weight: 600;
		}
		&:focus {
			border-color: $white;
		}
		@include respond-to(tablets) {
			padding-left: 10px;
		}
	}
	&-icon {
		position: absolute;
		top: 50%;
		right: 9px;

		height: 16px;
		border: 2px solid $search-icon-color;

		border-radius: 100%;
		background-color: $black;
		outline: none;

		transform: translateY(-50%) rotate(-45deg);
		&:hover {
			cursor: pointer;
		}
		&::before {
			content: '';

			position: absolute;
			top: 12px;
			left: 5px;

			width: 2px;
			height: 8px;

			background-color: $search-icon-color;
		}
	}
}

[role="navigation"] {
	@include respond-to(tablets) {
		order: 4;
	}
	@include respond-to(handhelds) {
		flex-basis: auto;
		order: 1;
	}

	flex-basis: 100%;
}

.main-menu {
	@include respond-to(tablets) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@include respond-to(handhelds) {
		display: none;
	}

	display: flex;
	justify-content: space-between;
	margin: 0;
	padding-right: 100px;
	padding-left: 50px;
	border-top: 1px solid $header-border-color;
	&__item {
		display: block;
		padding: 13px 0;

		color: $menu-item-color;
		font-family: $font-stack-OpenSans;
		font-weight: 300;
		font-size: $menu-item-font-size;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.menu-icon {
	@include respond-to(handhelds) {
		position: relative;
		z-index: 1000;

		display: inline-block;
		width: 23px;
		height: 3px;
		margin-top: 38px;
		margin-left: 20px;
		margin-right: -3px;

		background-color: $menu-icon-color;

		cursor: pointer;
		&::before {
			content: "";

			position: absolute;
			top: -8px;
			left: 0;

			width: 23px;
			height: 3px;

			background-color: $menu-icon-color;
		}
		&::after {
			content: "";

			position: absolute;
			top: 8px;
			left: 0;

			width: 23px;
			height: 3px;

			background-color: $menu-icon-color;
		}
		&.is-open {
			position: fixed;
			top: 0;
			& ~ .main-menu {
				position: fixed;
				top: -16px;
				right: 0;
				bottom: -16px;
				left: 0;
				z-index: 200;

				display: block;
				padding: 0;
				padding-top: 15px;
				padding-left: 60px;

				background-color: rgba(0,0,0,.9);

				color: $menu-item-color;
				list-style: none;
				li {
					display: block;
					padding: 7px;
				}
				a {
					color: $menu-item-color;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.shop {
	@include respond-to(wide-screens) {
		display: none;
	}
	@include respond-to(medium-screens) {
		display: none;
	}
	@include respond-to(tablets) {
		display: none;
	}
	@include respond-to(handhelds) {
		order: 3;
		padding-top: 27px;
		padding-right: 20px;
	}
}
