.breadcrumbs {
	font-weight: 300;
	font-size: $breadcrumbs-font-size;
	&__item {
		padding: 3px;

		color: $breadcrums-link-color;
		text-decoration: none;
		&:last-child {
			color: $breadcrums-item-color;
		}
		&:not(:last-child) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
