.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px;

	background-color: $footer-background-color;

	font-family: $font-stack-OpenSans;
	text-align: center;
	&-logo {
		width: 164px;
		height: 25px;
		margin: 0 auto;
		margin-bottom: 20px;

		background: url('../images/logo-mob-footer-min.png') no-repeat;
		a {
			color: transparent;
			font-size: 13px;
			letter-spacing: 36px;
		}
	}
	&-social-credit {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
	}
	&-social {
		display: flex;
		justify-content: center;
		margin-top: 5px;
		&__item {
			padding: 8px;
			border: 1px solid $footer-social-item-color;

			color: $footer-social-item-color;
			font-size: $footer-social-font-size;
			text-decoration: none;
			&:not(:last-child) {
				margin-right: 20px;
			}
			&:hover {
				border-color: $white;

				color: $white;
			}
		}
	}
}

.copy-text {
	clear: both;

	display: block;
	margin-bottom: 10px;

	color: $footer-text-color;
	font-size: $footer-text-font-size;
}

.credit {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	&__item {
		width: 37px;
		height: 24px;
		&:not(:last-child) {
			margin-right: 10px;
		}
		&-img {
			@include image-fit;
		}
	}
}
