.product {
	margin-top: 30px;
	&__title {
		font-size: 18px;
		color: #000;
		margin: 0;
		font-weight: 400;
	}
	&__subtitle {
		font-size: 14px;
		font-weight: 300;
		color: #000;
		margin: 0;
		padding-right: 140px;
		display: block;
	}
}

.photo {
	margin-bottom: 20px;
	display: block;
}

.price {
	margin-top: 23px;
	background-color: #ededed;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	&__number {
		&.price--old {
			text-decoration: line-through;
			color: #999;
			display: block;
			font-size: 14px;
		}
		&.price--new {
			color: #f68235;
			display: block;
			font-size: 24px;
		}
	}
	&__sale {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		color: #fff;
		background-color: #828282;
		font-size: 14px;
		text-align: center;
		padding: 14px 5px;
	}
}

.color {
	padding: 23px 0;
	font-size: 12px;
	&__text {
		font-weight: 600;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 5px;
	}
	&__pic {
		width: 35px;
		height: 35px;
		display: inline-block;
		margin-right: 10px;
		&.active {
			border: 2px solid #f68235;
		}
		&:hover {
			border: 2px solid #fff;
			cursor: pointer;
		}
	}
	&--1 {
		background: url(../images/color1-min.png) no-repeat;
	}
	&--2 {
		background: url(../images/color2-min.png) no-repeat;
	}
	&--3 {
		background: url(../images/color3-min.png) no-repeat;
	}
	&--4 {
		background: url(../images/color4-min.png) no-repeat;
	}
	&--5 {
		background: url(../images/color5-min.png) no-repeat;
	}
}

.size {
	border-top: 1px solid #dedede;
	padding: 23px 0;
	font-size: 12px;
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__table {
		color: #999;
		&:hover {
			color: #000;
		}
	}
	&__pic {
		width: 35px;
		height: 35px;
		display: inline-block;
		margin-right: 10px;
		border: 1px solid #ccc;
		color: #000;
		text-align: center;
		padding: 8px;
		@include respond-to(tablets) {
			padding: 9px;
		}
		&.active {
			border: 2px solid #f68235;
		}
		&.disabled {
			color: #6d6d6d;
			background-color: #dedede;
			pointer-events: none;
		}
		&:hover {
			border: 2px solid #000;
			cursor: pointer;
		}
	}
	&__fit {
		margin-top: 15px;
		color: #999;
		display: inline-block;
		&:hover {
			color: #000;
		}
		span {
			font-family: 'OpenSans', sans-serif;
			font-size: 12px;
		}
		&.icon--hanger {
			position: relative;
			&::before {
				position: absolute;
				font-size: 10px;
				background-color: #487eba;
				width: 12px;
				height: 12px;
				border-radius: 100%;
				color: #fff;
				left: 100%;
				margin-left: 10px;
				top: 50%;
				transform: translateY(-50%);
				padding: 3px;
				text-align: center;
			}
		}
	}
}

.quantity {
	border-top: 1px solid #dedede;
	padding: 23px 0;
	font-size: 12px;
	&__text {
		font-weight: 600;
	}
	&__count {
		margin-top: 10px;
		&-less {
			display: inline-block;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translate(-50%);
				width: 9px;
				height: 2px;
				background-color: #000;
			}
			margin-right: 8px;
			margin-bottom: 4px;
			cursor: pointer;
		}
		&-number {
			border: 1px solid #dedede;
			padding: 9px;
			text-align: center;
			color: #000;
			font-family: 'OpenSans', sans-serif;
			font-weight: 600;
			display: inline-block;
			width: 35px;
			height: 35px;
			outline: none;
		}
		&-more {
			display: inline-block;
			margin-left: 8px;
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				transform: translate(-50%);
				width: 9px;
				height: 2px;
				background-color: #000;
			}
			position: relative;
			margin-bottom: 4px;
			cursor: pointer;
			&::after {
				content: "";
				position: absolute;
				width: 2px;
				height: 10px;
				top: -4px;
				left: 50%;
				transform: translateX(-50%);
				background-color: #000;
			}
		}
	}
	&__left {
		position: absolute;
		top: -54px;
		background-color: #eaeaea;
		padding: 7px;
		text-align: center;
		font-size: 12px;
		width: 90%;
		left: 10%;
		color: #000;
		&-number {
			margin-right: 5px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 75%;
			transform: translateX(-50%);
			border: 11px solid transparent;
			border-top: 11px solid #eaeaea;
		}
	}
}

.like {
	border: 1px solid #dedede;
	display: inline-block;
	padding: 18px;
	font-size: 12px;
	font-weight: 200;
	margin-top: 14px;
	margin-bottom: 14px;
	vertical-align: bottom;
	text-decoration: none;
	&:hover {
		border-color: #000;
	}
	&.icon--heart {
		position: relative;
		&::before {
			font-size: 13px;
			color: #000;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.add-to-cart {
	display: inline-block;
	padding-left: 15px;
	font-size: 13px;
	font-weight: 200;
	margin-top: 14px;
	margin-left: 0;
	background-color: #f68235;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 14px;
	float: right;
	text-decoration: none;
	&:hover {
		background-color: #ef590e;
	}
	&:visited {
		color: #000;
	}
	&__text {
		text-transform: uppercase;
		color: #fff;
		background: url('../images/shop-bag-min.png') no-repeat;
		background-position: 0 9px;
		padding: 12px 25px;
		display: inline-block;
		@include respond-to(tablets) {
			padding: 12px 15px;
			padding-left: 20px;
		}
	}
}

.shop-bag-img {
	height: 19px;
	width: 15px;
	margin-right: 12px;
}

.make-order {
	border-top: 1px solid #dedede;
	padding: 23px 0;
	font-size: 12px;
}

.call {
	margin-bottom: 10px;
	&.icon--phone {
		position: relative;
		&::before {
			position: absolute;
			font-size: 22px;
			color: #7c7c7c;
			left: 0;
			top: 0;
		}
	}
	&__text {
		display: block;
		color: #000;
		padding-left: 30px;
		font-family: 'HelveticaNeue', Arial, sans-serif;
		margin-bottom: 10px;
	}
	&__number {
		display: block;
		color: #999;
		padding-left: 30px;
		margin-bottom: 10px;
		font-family: 'HelveticaNeue', Arial, sans-serif;
		&:hover {
			color: #000;
		}
	}
}

.location {
	margin-top: 15px;
	&.icon--location-pin {
		position: relative;
		&::before {
			position: absolute;
			font-size: 22px;
			color: #7c7c7c;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__text {
		display: block;
		color: #000;
		padding-left: 30px;
		font-family: 'HelveticaNeue', Arial, sans-serif;
		margin-bottom: 10px;
	}
}

.details {
	border-top: 1px solid #dedede;
	padding: 20px 0;
	&__title {
		margin: 0;
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 18px;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		&::before {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		span {
			font-family: 'HelveticaNeue', Arial, sans-serif;
		}
		&.icon--plus {
			& ~ .details__item, 
			& ~ .details__code, 
			& ~ .details__info,
			& ~ .details__text {
				display: none;
			}
		}
	}
	&__item {
		font-size: 12px;
		&-title {
			font-weight: 600;
			margin-right: 5px;
			display: inline-block;
			vertical-align: top;
		}
		&-value {
			display: inline-block;
			width: 80%;
			margin: 0;
		}
		b {
			font-weight: bold;
			margin-right: 5px;
		}
	}
	&__code {
		margin-top: 14px;
		font-size: 12px;
		&-title {
			font-weight: 600;
			margin-right: 5px;
			display: inline-block;
			vertical-align: top;
		}
		&-number {
			color: #a7a7a7;
			display: inline-block;
			width: 70%;
			margin: 0;
		}
	}
	&__info {
		margin-top: 20px;
	}
	&__text {
		margin: 0;
		font-size: 12px;
		b {
			font-weight: bold;
			display: inline-block;
			margin-top: 20px;
			a {
				color: #000;
			}
		}
		&-item {
			display: block;
			padding-right: 30px;
		}
	}
}