.location-popup {
	position: fixed;
	top: 0;
	z-index: 2000;

	overflow: hidden;
	min-width: 100%;
	min-height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	&__content {
		width: 260px;
		height: 675px;
		margin: 20px auto;
	}
}

.popup {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	&__header {
		position: relative;

		padding: 10px 100px 9px 8px;

		background-color: $popup-header-background-color;

		font-size: $popup-header-font-size-mob;
	}
	&__title {
		font-size: $popup-header-font-size-mob;
		text-transform: uppercase;
	}
	&-close {
		position: absolute;
		top: 50%;
		right: 8px;

		color: $close-icon-color;
		text-decoration: none;

		transform: translateY(-50%);
		&::before {
			font-size: $popup-close-size;
		}
	}
	&__main {
		background-color: $popup-main-background-color;
		&-title {
			display: block;
			padding: 20px;

			font-size: $popup-title-font-size;
			text-align: center;
			b {
				margin: 5px;
			}
		}
		&-locations {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&-item {
				position: relative;

				margin-bottom: 25px;
				padding-top: 25px;
				padding-bottom: 23px;
				border-top: 1px solid $border-color;

				font-size: $popup-content-font-size;
			}
		}
	}
}

.location {
	&-title {
		display: block;
		margin-bottom: 10px;

		font-size: $popup-title-font-size;
		text-align: center;
	}
	&-text {
		display: block;

		text-align: center;
		a {
			color: $primary-text-color;
			text-decoration: none;
		}
	}
	&-link {
		position: absolute;
		bottom: 0;
		left: 50%;

		display: block;

		color: $primary-text-color;
		white-space: nowrap;
		text-align: center;

		transform: translateX(-50%);
	}
}
