.product {
	margin-top: 30px;
	&__sale {
		position: absolute;
		top: 0;
		left: 27px;
		z-index: 100;
		&::before {
			font-size: 27px;
			color: $clock-color2;
		}
	}
	&__title {
		margin: 0;

		color: $primary-text-color;
		font-weight: 400;
		font-size: $product-title-font-size-mob;
	}
	&__subtitle {
		display: block;
		margin: 0;
		padding-right: 140px;

		color: $primary-text-color;
		font-weight: 300;
		font-size: $product-subtitle-font-size-mob;
	}
}

/*.photo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 20px;
	&__view {
		order: 1;
		width: 260px;
		height: 347px;
		margin-bottom: 24px;
		&-img {
			@include image-fit;
		}
	}
	&__nav {
		display: flex;
		justify-content: center;
		order: 2;
		&-item {
			display: block;
			width: 7px;
			height: 7px;

			border-radius: 100%;
			background-color: $slider-dots-inactive-color;
			&.active {
				background-color: $slider-dots-active-color;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}*/

.price {
	display: flex;
	justify-content: space-between;
	margin-top: 23px;
	padding: 10px 20px;

	background-color: $price-background-color-mob;
	&__number {
		&.price--old {
			display: block;

			color: $old-price-color;
			font-size: $product-price-font-size-mob;
			text-decoration: line-through;
		}
		&.price--new {
			display: block;

			color: $new-price-color;
			font-size: $product-new-price-font-size-mob;
		}
	}
	&__sale {
		width: $sale-width;
		height: $sale-height;
		padding: 14px 5px;

		border-radius: 100%;
		background-color: $sale-background-color;

		color: $sale-color;
		font-size: $sale-font-size-mob;
		text-align: center;
	}
}

.color {
	padding: 23px 0;

	font-size: $pick-color-font-size-mob;
	&__text {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 10px;

		font-weight: 600;
	}
	&__pic {
		display: inline-block;
		width: $pick-color-width;
		height: $pick-color-height;
		margin-right: 10px;
		&.active {
			border: 2px solid $active-item-color;
		}
		&:hover {
			border: 2px solid $white;

			cursor: pointer;
		}
	}
	&--1 {
		background: url(../images/color1-min.png) no-repeat;
	}
	&--2 {
		background: url(../images/color2-min.png) no-repeat;
	}
	&--3 {
		background: url(../images/color3-min.png) no-repeat;
	}
	&--4 {
		background: url(../images/color4-min.png) no-repeat;
	}
	&--5 {
		background: url(../images/color5-min.png) no-repeat;
	}
}

.size {
	padding: 23px 0;
	border-top: 1px solid $border-color;

	font-size: $pick-size-font-size-mob;
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		margin-bottom: 10px;

		font-weight: 600;
	}
	&__table {
		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
	}
	&__pic {
		display: inline-block;
		width: $pick-size-width;
		height: $pick-size-height;
		margin-right: 10px;
		padding: 8px;
		border: 1px solid $pick-size-border-color;

		color: $primary-text-color;
		text-align: center;
		&.active {
			border: 2px solid $active-item-color;
		}
		&.disabled {
			background-color: $disabled-background-color;

			color: $disabled-text-color;

			pointer-events: none;
		}
		&:hover {
			border: 2px solid $black;

			cursor: pointer;
		}
	}
	&__fit {
		display: inline-block;
		margin-top: 15px;

		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
		span {
			font-family: $font-stack-OpenSans;
			font-size: $product-size-fit-font-size-mob;
		}
		&.icon--hanger {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 100%;

				width: 12px;
				height: 12px;
				margin-left: 10px;
				padding: 3px;

				border-radius: 100%;
				background-color: $hanger-background-color;

				color: $hanger-color;
				font-size: $hanger-size;
				text-align: center;

				transform: translateY(-50%);
			}
		}
	}
}

.quantity {
	padding: 23px 0;
	border-top: 1px solid $border-color;

	font-size: $quantity-font-size-mob;
	&__text {
		font-weight: 600;
	}
	&__count {
		margin-top: 10px;
		&-less {
			position: relative;

			display: inline-block;
			margin-right: 8px;
			margin-bottom: 4px;

			cursor: pointer;
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 9px;
				height: 2px;

				background-color: $black;

				transform: translate(-50%);
			}
		}
		&-number {
			display: inline-block;
			width: 35px;
			height: 35px;
			padding: 9px;
			border: 1px solid $border-color;

			outline: none;

			color: $primary-text-color;
			font-family: $font-stack-OpenSans;
			font-weight: 600;
			text-align: center;
		}
		&-more {
			position: relative;

			display: inline-block;
			margin-bottom: 4px;
			margin-left: 8px;

			cursor: pointer;
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 9px;
				height: 2px;

				background-color: $black;

				transform: translate(-50%);
			}
			&::after {
				content: "";

				position: absolute;
				top: -4px;
				left: 50%;

				width: 2px;
				height: 10px;

				background-color: $black;

				transform: translateX(-50%);
			}
		}
	}
	&__left {
		position: absolute;
		top: -54px;
		left: 10%;

		width: 90%;
		padding: 7px;

		background-color: $item-left-background-color;

		color: $primary-text-color;
		font-size: $quantity-left-font-size-mob;
		text-align: center;
		&-number {
			margin-right: 5px;
		}
		&::after {
			content: "";

			position: absolute;
			top: 100%;
			left: 75%;

			border: 11px solid transparent;
			border-top: 11px solid $item-left-background-color;

			transform: translateX(-50%);
		}
	}
}

.like {
	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 18px;
	border: 1px solid $border-color;

	font-weight: 200;
	font-size: $like-font-size;
	text-decoration: none;
	vertical-align: bottom;
	&:hover {
		border-color: $black;
	}
	&.icon--heart {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;

			color: $black;
			font-size: $like-icon-size;

			transform: translate(-50%, -50%);
		}
	}
}

.add-to-cart {
	position: relative;
	float: right;

	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 0;
	padding-left: 15px;

	background-color: $add-to-cart-background-color;

	font-weight: 200;
	font-size: $add-to-cart-font-size;
	text-decoration: none;
	vertical-align: bottom;
	&:hover {
		background-color: $dark-orange;
	}
	&:visited {
		color: $black;
	}
	&__text {
		@include respond-to(tablets) {
			padding: 12px 15px;
			padding-left: 20px;
		}

		display: inline-block;
		padding: 12px 25px;

		background: url('../images/shop-bag-min.png') no-repeat;
		background-position: 0 9px;

		color: $white;
		text-transform: uppercase;
	}
}

.shop-bag-img {
	width: 15px;
	height: 19px;
	margin-right: 12px;
}

.make-order {
	padding: 23px 0;
	border-top: 1px solid $border-color;

	font-size: $make-order-font-size-mob;
}

.call {
	margin-bottom: 10px;
	&.icon--phone {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;

			color: $phone-color;
			font-size: $phone-size;
		}
	}
	&__text {
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
	}
	&__number {
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;

		color: $link-color;
		font-family: $font-stack-Helvetica;
		&:hover {
			color: $primary-text-color;
		}
	}
}

.location {
	margin-top: 15px;
	&.icon--location-pin {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			color: $location-color;
			font-size: $location-size;

			transform: translateY(-50%);
		}
	}
	&__text {
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
	}
}

.accordion {
	padding: 20px 0;
	border-top: 1px solid $border-color;
	&__title {
		position: relative;

		margin: 0;
		margin-bottom: 18px;

		font-weight: 300;
		font-size: $accordion-title-font-size-mob;
		&:hover {
			cursor: pointer;
		}
		&::before {
			position: absolute;
			top: 50%;
			right: 0;

			transform: translateY(-50%);
		}
		span {
			font-family: $font-stack-Helvetica
		}
		&.icon--plus {
			& ~ .accordion__item,
			& ~ .accordion__code,
			& ~ .accordion__info,
			& ~ .accordion__text {
				display: none;
			}
		}
	}
	&__item {
		font-size: $accordion-item-font-size-mob;
		&-title {
			display: inline-block;
			margin-right: 5px;

			font-weight: 600;
			vertical-align: top;
		}
		&-value {
			display: inline-block;
			width: 80%;
			margin: 0;
		}
		b {
			margin-right: 5px;

			font-weight: bold;
		}
	}
	&__code {
		margin-top: 14px;

		font-size: $accordion-item-font-size-mob;
		&-title {
			display: inline-block;
			margin-right: 5px;

			font-weight: 600;
			vertical-align: top;
		}
		&-number {
			display: inline-block;
			width: 70%;
			margin: 0;

			color: $item-code-color;
		}
	}
	&__info {
		margin-top: 20px;
	}
	&__text {
		margin: 0;

		font-size: $accordion-item-font-size-mob;
		b {
			display: inline-block;
			margin-top: 20px;

			font-weight: bold;
			a {
				color: $primary-text-color;
			}
		}
		&-item {
			display: block;
			padding-right: 30px;
		}
	}
}
