.similar-goods {
	padding: 20px 0;
	border-top: 1px solid $border-color;
	&__title {
		position: relative;

		margin: 0;
		margin-bottom: 18px;

		font-weight: 300;
		font-size: $similar-goods-title-font-size-mob;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;

			transform: translateY(-50%);
		}
		span {
			font-family: $font-stack-Helvetica;
		}
		&.icon--plus {
			& ~ .similar-goods__block,
			& ~ .social {
				display: none;
			}
		}
	}
	&__block {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}
}

.item {
	margin-bottom: 26px;
	&__img {
		width: 119px;
		height: 179px;
		margin-bottom: 10px;
		&-image {
			@include image-fit;
		}
	}
	&__title {
		margin: 0;

		font-weight: 400;
		font-size: $similar-good-title-font-size-mob;
	}
	&__subtitle {
		margin: 0;

		font-weight: 200;
		font-size: $similar-good-subtitle-font-size-mob;
	}
	&__price {
		margin-top: 5px;

		font-size: $similar-good-price-font-size-mob;
		&.price--old {
			margin-right: 5px;

			color: $old-price-color;
			text-decoration: line-through;
		}
		&.price--new {
			color: $new-price-color;
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	border-top: 1px solid $border-color;
	&__text {
		align-self: center;

		font-weight: 600;
		font-size: $social-font-size-mob;
	}
	&__item {
		margin-left: 20px;

		color: $social-item-color;
		text-decoration: none;
		&:hover {
			padding: 5px;
			border: 1px solid $social-item-color;

			border-radius: 100%;
		}
	}
}
