.similar-goods {
	border-top: 1px solid #dedede;
	padding: 20px 0;
	&.close {
		div {
			display: none;
		}
	}
	&__title {
		margin: 0;
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 18px;
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			content: "";
			width: 16px;
			height: 2px;
			background-color: #000;
		}
	}
	&__block {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
	}
}

.item {
	margin-bottom: 26px;
	&__img {
		width: 119px;
		height: 179px;
		margin-bottom: 10px;
		&-image {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin: 0;
		font-size: 12px;
		font-weight: 400;
	}
	&__subtitle {
		margin: 0;
		font-weight: 200;
		font-size: 10px;
	}
	&__price {
		margin-top: 5px;
		font-size: 10px;
		&.price--old {
			text-decoration: line-through;
			color: #999;
			margin-right: 5px;
		}
		&.price--new {
			color: #f68235;
		}
	}
}

.social {
	border-top: 1px solid #dedede;
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	&__text {
		font-size: 12px;
		font-weight: 600;
		align-self: center;
	}
	&__item {
		margin-left: 20px;
		color: #3a3a3a;
		text-decoration: none;
	}
}