.recommendation {
	padding: 20px 0;
	border-top: 1px solid $border-color;

	font-size: $recommendation-font-siz-mob;
	&__text {
		display: block;
		margin-bottom: 20px;

		color: $primary-text-color;
		font-weight: 600;
	}
	&__link {
		display: block;

		color: $link-color;
		line-height: 24px;
		&:hover {
			color: $primary-text-color;
		}
	}
}
