$small: 425px;
$medium: 768px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == tablets {
  	@media only screen and (min-width: $small + 1) and (max-width: $medium) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $medium + 1) and (max-width: $large) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large + 1) { @content; }
  }
}

@mixin image-fit {
  width: 100%;
}