.location-popup {
	@include respond-to(handhelds) {
		z-index: 2000;
	}

	position: fixed;
	top: 0;

	display: none;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	&__content {
		@include respond-to(handhelds) {
			width: 260px;
			height: 675px;
			margin: 10px auto;
		}
		@include respond-to(tablets) {
			margin: 87px auto;
		}

		width: 635px;
		height: 358px;
		margin: 128px auto;
	}
}

.popup {
	font-family: $font-stack-Helvetica;
	&__header {
		@include respond-to(handhelds) {
			padding: 6px 122px 7px 8px;

			font-size: $popup-header-font-size-mob;
		}

		position: relative;

		padding: 9px 36px 7px;

		background-color: $popup-header-background-color;

		font-size: $popup-header-font-size;
	}
	&__title {
		@include respond-to(handhelds) {
			font-size: $popup-header-font-size-mob;
			letter-spacing: -0.6px;
		}

		font-size: $popup-header-font-size;
		letter-spacing: -0.7px;
		text-transform: uppercase;
	}
	&-close {
		@include respond-to(handhelds) {
			right: 8px;
		}

		position: absolute;
		top: 50%;
		right: 7px;

		color: $close-icon-color;
		text-decoration: none;

		transform: translateY(-50%);
		&::before {
			@include respond-to(handhelds) {
				font-size: $popup-close-size;
			}
		}
	}
	&__main {
		@include respond-to(handhelds) {
			padding: 0;
		}

		padding: 0 37px;
		padding-bottom: 58px;

		background-color: $popup-main-background-color;
		&-title {
			@include respond-to(handhelds) {
				padding: 27px 0;
			}

			display: block;
			padding: 38px 0 35px;

			font-size: $popup-title-font-size;
			letter-spacing: -0.2px;
			text-align: center;
			b {
				margin: 5px;
			}
		}
		&-locations {
			@include respond-to(handhelds) {
				flex-direction: column;
				border: none;
			}

			display: flex;
			justify-content: space-between;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			&-item {
				@include respond-to(handhelds) {
					margin-top: 0;
					margin-bottom: 36px;
					padding-top: 33px;
					padding-bottom: 44px;
					border-top: 1px solid $border-color;

					font-size: $popup-content-font-size;
				}

				position: relative;

				margin-top: 48px;
				margin-bottom: 14px;
				padding-bottom: 29px;

				font-size: $popup-content-font-size;
			}
		}
	}
}

.location {
	&-title {
		@include respond-to(handhelds) {
			letter-spacing: -0.7px;
		}

		display: block;
		margin-bottom: 10px;

		font-size: $popup-title-font-size;
		letter-spacing: -0.6px;
		text-align: center;
	}
	&-text {
		display: block;

		letter-spacing: -0.5px;
		text-align: center;
		a {
			color: $primary-text-color;
			text-decoration: none;
		}
	}
	&-link {
		position: absolute;
		bottom: 0;
		left: 50%;

		display: block;

		color: $primary-text-color;
		letter-spacing: -0.5px;
		white-space: nowrap;
		text-align: center;

		transform: translateX(-50%);
	}
}
