.location-popup {
	position: fixed;
	top: 0;

	overflow: hidden;
	min-width: 100%;
	min-height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	&__content {
		width: 635px;
		height: 358px;
		margin: 100px auto;
	}
}

.popup {
	font-family: $font-stack-Helvetica;
	&__header {
		position: relative;

		padding: 12px 36px 10px;

		background-color: $popup-header-background-color;

		font-size: $popup-header-font-size;
	}
	&__title {
		font-size: $popup-header-font-size;
		text-transform: uppercase;
	}
	&-close {
		position: absolute;
		top: 50%;
		right: 7px;

		color: $close-icon-color;
		text-decoration: none;

		transform: translateY(-50%);
	}
	&__main {
		padding: 0 37px;
		padding-bottom: 58px;

		background-color: $popup-main-background-color;
		&-title {
			display: block;
			padding: 40px 0;

			font-size: $popup-title-font-size;
			text-align: center;
			b {
				margin: 5px;
			}
		}
		&-locations {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			&-item {
				position: relative;

				margin-top: 50px;
				margin-bottom: 15px;
				padding-bottom: 40px;

				font-size: $popup-content-font-size;
			}
		}
	}
}

.location {
	&-title {
		display: block;
		margin-bottom: 10px;

		font-size: $popup-title-font-size;
		text-align: center;
	}
	&-text {
		display: block;

		text-align: center;
		a {
			color: $primary-text-color;
			text-decoration: none;
		}
	}
	&-link {
		position: absolute;
		bottom: 0;
		left: 50%;

		display: block;

		color: $primary-text-color;
		white-space: nowrap;
		text-align: center;

		transform: translateX(-50%);
	}
}
