.time-left {
	@include respond-to(tablets) {
		top: 14px;
		right: 20px;
	}
	@include respond-to(handhelds) {
		display: none;
	}

	position: absolute;
	top: 14px;
	right: 130px;

	padding: 10px;
	padding-left: 49px;

	background-color: $time-left-background-color;
	&__text {
		display: block;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		font-size: $time-left-main-font-size;
		letter-spacing: -0.4px;
	}
	&__time {
		display: block;

		color: $emphasize-text-color;
		font-family: $font-stack-Helvetica;
		font-size: $time-left-time-font-size;
	}
	&.icon--clock {
		&::before {
			position: absolute;
			top: 50%;
			left: 10px;

			color: $clock-color1;
			font-size: $clock-size;

			transform: translateY(-50%);
			@include respond-to(tablets) {
				font-size: $clock-size-tab;
			}
		}
	}
}

.product {
	@include respond-to(handhelds) {
		flex-direction: column;
		margin-top: 6px;
	}

	display: flex;
	margin-top: 33px;
	&__sale {
		position: absolute;
		top: 0;
		left: 29px;
		z-index: 100;
		&::before {
			color: $clock-color2;
			font-size: 27px;
		}
	}
	&__title {
		@include respond-to(tablets) {
			font-size: $product-title-font-size-tab;
			letter-spacing: -0.2px;
			margin-bottom: 9px;
		}
		@include respond-to(handhelds) {
			color: $primary-text-color;
			font-weight: 400;
			font-size: $product-title-font-size-mob;
			letter-spacing: -0.3px;
			margin-left: 20px;
		}

		margin: 0;

		color: $emphasize-text-color;
		font-weight: 300;
		font-size: $product-title-font-size;
	}
	&__subtitle {
		@include respond-to(tablets) {
			padding-right: 141px;

			font-size: $product-subtitle-font-size-tab;
			margin-top: 9px;
		}
		@include respond-to(handhelds) {
			padding-right: 140px;
			margin-top: 10px;
			letter-spacing: 0.1px;

			font-weight: 300;
			font-size: $product-subtitle-font-size-mob;
		}

		display: block;
		margin: 0;
		margin-top: -1px;

		color: $primary-text-color;
		font-weight: 200;
		font-size: $product-subtitle-font-size;
	}
}

.photo {
	@include respond-to(handhelds) {
		width: 100%;
	}

	width: 60%;
}

.description {
	@include respond-to(handhelds) {
		width: 100%;
		margin-top: 17px;
		padding-left: 0;
	}
	@include respond-to(tablets) {
		padding-left: 0;
	}

	width: 40%;
	padding-left: 3px;
}

.price {
	@include respond-to(handhelds) {
		margin-top: 24px;
		margin-bottom: 0;
		padding: 8px 14px 8px 19px;

		background-color: $price-background-color-mob;
	}

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -3px;
	margin-right: 7px;
	margin-bottom: 17px;
	@include respond-to(tablets) {
		margin-bottom: 18px;
	}

	font-size: $product-price-font-size;
	&__number {
		&.price--old {
			@include respond-to(tablets) {
				display: block;
				margin: 0;

				font-size: $product-price-font-size-tab;
				letter-spacing: -0.1px;
			}
			@include respond-to(handhelds) {
				display: block;

				font-size: $product-price-font-size-mob;
			}

			margin-right: 15px;

			color: $old-price-color;
			text-decoration: line-through;
		}
		&.price--new {
			@include respond-to(tablets) {
				display: block;

				font-size: $product-new-price-font-size-tab;
				letter-spacing: -0.4px;
			}
			@include respond-to(handhelds) {
				display: block;

				font-size: $product-new-price-font-size-mob;
				letter-spacing: -0.2px;
			}

			color: $new-price-color;
			letter-spacing: 0.5px;
		}
	}
	&__sale {
		@include respond-to(handhelds) {
			padding: 14px 5px;

			font-size: $sale-font-size-mob;
		}
		@include respond-to(tablets) {
			width: $sale-width-tab;
			height: $sale-height-tab;
			padding: 9px 0;
			font-size: $sale-font-size-tab;
			margin-top: 18px;
		}

		width: $sale-width;
		height: $sale-height;
		padding: 14px 0;

		border-radius: 100%;
		background-color: $sale-background-color;

		color: $sale-color;
		font-size: $sale-font-size;
		text-align: center;
	}
}

.swatch {
	@include respond-to(tablets) {
		font-size: $pick-color-font-size-tab;
		padding: 18px 0 19px;
	}
	@include respond-to(handhelds) {
		padding: 21px 20px;
		border: none;

		font-size: $pick-color-font-size-mob;
	}

	padding: 11px 0;
	border-top: 1px solid $border-color;

	font-size: $pick-color-font-size;
	&__text {
		display: inline-block;
		margin-right: 4px;
		margin-bottom: 12px;

		font-weight: 600;
		@include respond-to(tablets) {
			letter-spacing: -0.6px;
		}
		@include respond-to(handhelds) {
			margin-right: 2px;
		}
	}
	&__name {
		letter-spacing: -1px;
	}
	&__pic {
		display: inline-block;
		width: $pick-color-width;
		height: $pick-color-height;
		margin-right: 10px;
		&.active {
			border: 2px solid $active-item-color;
		}
		&:hover {
			border: 2px solid $white;

			cursor: pointer;
		}
	}
}

.size {
	@include respond-to(tablets) {
		font-size: $pick-size-font-size-tab;
		padding: 18px 0;
		margin-left: -3px;
	}
	@include respond-to(handhelds) {
		padding: 26px 20px;

		font-size: $pick-size-font-size-mob;
	}

	padding: 10px 0 12px;
	border-top: 1px solid $border-color;

	font-size: $pick-size-font-size;
	&__info {
		display: flex;
		justify-content: space-between;
		padding-right: 5px;
		@include respond-to(handhelds) {
			padding-right: 0;
		}
	}
	&__text {
		margin-bottom: 10px;

		font-weight: 600;
		@include respond-to(tablets) {
			letter-spacing: -0.6px;
			margin-bottom: 14px;
		}
	}
	&__table {
		color: $link-color;
		@include respond-to(handhelds) {
			letter-spacing: -0.1px;
		}
		&:hover {
			color: $primary-text-color;
		}
	}
	&__pic {
		@include respond-to(tablets) {
			padding: 9px;
		}
		@include respond-to(handhelds) {
			padding: 10px;
		}

		display: inline-block;
		width: $pick-size-width;
		height: $pick-size-height;
		margin-right: 7px;
		padding: 8px 9px;
		border: 1px solid $pick-size-border-color;

		color: $primary-text-color;
		text-align: center;
		&.active {
			border: 2px solid $active-item-color;
		}
		&.disabled {
			background-color: $disabled-background-color;

			color: $disabled-text-color;

			pointer-events: none;
		}
		&:hover {
			border: 2px solid $black;
			padding: 8px;

			cursor: pointer;
		}
	}
	&__fit {
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 6px;

		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
		span {
			@include respond-to(tablets) {
				font-size: $product-size-fit-font-size-tab;
			}
			@include respond-to(handhelds) {
				font-size: $product-size-fit-font-size-mob;
			}

			font-family: $font-stack-OpenSans;
			font-size: $product-size-fit-font-size;
		}
		&.icon--hanger {
			position: relative;
			&::before {
				@include respond-to(tablets) {
					width: 12px;
					height: 12px;
					padding: 3px;

					font-size: $hanger-size-tab;
				}
				@include respond-to(handhelds) {
					width: 12px;
					height: 12px;
					padding: 3px;
					margin-left: 7px;

					font-size: $hanger-size-mob;
				}

				position: absolute;
				top: 50%;
				left: 100%;

				width: 13px;
				height: 13px;
				margin-left: 10px;
				padding: 3px;

				border-radius: 100%;
				background-color: $hanger-background-color;

				color: $hanger-color;
				font-size: $hanger-size;
				text-align: center;

				transform: translateY(-50%);
			}
		}
	}
}

.quantity {
	@include respond-to(handhelds) {
		padding: 24px 19px 4px;

		font-size: $quantity-font-size-mob;
	}
	@include respond-to(tablets) {
		padding: 16px 0 4px;
		margin-left: -3px;
		margin-right: 5px;
	}

	padding: 11px 0;
	border-top: 1px solid $border-color;

	font-size: $quantity-font-size;
	&__text {
		font-weight: 600;
		letter-spacing: -0.6px;
		@include respond-to(handhelds) {
			letter-spacing: 0.6px;
		}
	}
	&__count {
		margin-top: 10px;
		@include respond-to(handhelds) {
			margin-top: 18px;
		}
		&-less {
			position: relative;

			display: inline-block;
			margin-right: 13px;
			margin-bottom: 6px;

			cursor: pointer;
			@include respond-to(handhelds) {
				margin-right: 16px;
			}
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 8px;
				height: 2px;
				margin-left: 5px;

				background-color: $black;

				transform: translate(-50%);
				@include respond-to(handhelds) {
					width: 10px;
				}
			}
		}
		&-number {
			@include respond-to(tablets) {
				width: 35px;
				height: 35px;
				padding: 9px;
			}
			@include respond-to(handhelds) {
				width: 42px;
				height: 42px;
				padding: 9px;
			}

			display: inline-block;
			width: 76px;
			height: 35px;
			border: 1px solid $border-color;

			outline: none;

			color: $primary-text-color;
			font-family: $font-stack-OpenSans;
			font-weight: 600;
			text-align: center;
		}
		&-more {
			position: relative;

			display: inline-block;
			margin-bottom: 6px;
			margin-left: 9px;

			cursor: pointer;
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 9px;
				height: 2px;

				background-color: $black;

				transform: translate(-50%);
			}
			&::after {
				content: "";

				position: absolute;
				top: -4px;
				left: 50%;

				width: 2px;
				height: 10px;

				background-color: $black;

				transform: translateX(-50%);
			}
		}
	}
	&__left {
		@include respond-to(tablets) {
			left: 61%;
			top: -50px;

			font-size: $quantity-left-font-size-tab;
		}
		@include respond-to(handhelds) {
			left: 59%;
			top: -65px;
			padding: 8px 0;
			width: 80%;

			font-size: $quantity-left-font-size-mob;
		}

		position: absolute;
		top: -54px;
		left: 50%;

		width: 78%;
		padding: 7px 0;

		background-color: $item-left-background-color;

		color: $primary-text-color;
		letter-spacing: -1px;
		text-align: center;

		transform: translateX(-50%);
		&-number {
			margin-right: 5px;
		}
		&::after {
			@include respond-to(tablets) {
				left: 71%;
				border-width: 6px;
			}
			@include respond-to(handhelds) {
				left: 71%;
				border-width: 6px;
			}

			content: "";

			position: absolute;
			top: 100%;
			left: 50%;

			border: 11px solid transparent;
			border-top: 11px solid $item-left-background-color;

			transform: translateX(-50%);
		}
	}
}

.like {
	@include respond-to(tablets) {
		padding: 17px;
		margin-left: 16px;
		margin-top: 18px;
	}
	@include respond-to(handhelds) {
		padding: 20px;
		margin-top: 23px;
	}

	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 9px 30px;
	padding-left: 54px;
	border: 1px solid $border-color;

	font-weight: 200;
	font-size: $like-font-size;
	text-decoration: none;
	vertical-align: bottom;
	&:hover {
		border-color: $black;
	}
	&.icon--heart {
		position: relative;
		&::before {
			@include respond-to(tablets) {
				left: 50%;

				transform: translate(-50%, -50%);
			}
			@include respond-to(handhelds) {
				left: 50%;

				transform: translate(-50%, -50%);
			}

			position: absolute;
			top: 50%;
			left: 28px;

			color: $black;
			font-size: $like-icon-size;

			transform: translateY(-50%);
		}
	}
	span {
		@include respond-to(tablets) {
			display: none;
		}
		@include respond-to(handhelds) {
			display: none;
		}

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		letter-spacing: -0.5px;
		text-transform: uppercase;
	}
}

.add-to-cart {
	@include respond-to(tablets) {
		float: right;

		margin-left: 0;
		padding-left: 15px;
		margin-top: 16px;
	}
	@include respond-to(handhelds) {
		float: right;

		margin-left: 0;
		padding-left: 15px;
		margin-top: 23px;
	}

	position: relative;

	display: inline-block;
	margin-bottom: 14px;
	margin-left: 21px;
	padding-left: 25px;

	background-color: $add-to-cart-background-color;

	font-weight: 200;
	font-size: $add-to-cart-font-size;
	text-decoration: none;
	&:hover {
		background-color: $dark-orange;
	}
	&:visited {
		color: $black;
	}
	&__text {
		@include respond-to(tablets) {
			padding: 11px 24px;
			padding-left: 38px;
			background-position: 10px 9px;
		}
		@include respond-to(handhelds) {
			padding: 13px 22px;
			padding-left: 23px;
			letter-spacing: -0.1px;
			background-position: 5px 11px;
		}

		display: inline-block;
		padding: 11px 26px;

		background: url('../images/shop-bag-min.png') no-repeat;
		background-position: 0 9px;

		color: $white;
		letter-spacing: -0.5px;
		text-transform: uppercase;
	}
}

.shop-bag-img {
	width: 15px;
	height: 19px;
	margin-right: 12px;
}

.make-order {
	@include respond-to(tablets) {
		font-size: $make-order-font-size-tab;
		padding: 15px 0 18px;
	}
	@include respond-to(handhelds) {
		padding: 26px 18px;

		font-size: $make-order-font-size-mob;
	}

	padding: 15px 0;
	border-top: 1px solid $border-color;

	font-size: $make-order-font-size;
}

.call {
	margin-bottom: 20px;
	@include respond-to(tablets) {
		margin-bottom: 22px;
	}
	&.icon--phone {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;

			color: $phone-color;
			font-size: $phone-size;
		}
	}
	&__text {
		display: block;
		margin-bottom: 8px;
		padding-left: 30px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		letter-spacing: 0.1px;
		@include respond-to(tablets) {
			letter-spacing: -0.1px;
		}
		@include respond-to(handhelds) {
			letter-spacing: 0;
			margin-bottom: 12px;
		}
	}
	&__number {
		@include respond-to(handhelds) {
			display: block;
			margin: 0;
			margin-bottom: 10px;
			padding-left: 30px;
			letter-spacing: 0.5px;
		}
		@include respond-to(tablets) {
			margin-right: 3px;
			margin-left: 3px;
		}

		margin-right: 10px;
		margin-left: 10px;

		color: $link-color;
		font-family: $font-stack-Helvetica;
		letter-spacing: 0.1px;
		&:nth-child(2) {
			@include respond-to(handhelds) {
				padding-left: 30px;
			}

			padding-left: 25px;
		}
		&-text {
			@include respond-to(handhelds) {
				display: none;
			}

			color: $link-color;
			font-family: $font-stack-Helvetica;
		}
		&:hover {
			color: $primary-text-color;
		}
	}
}

.location {
	@include respond-to(handhelds) {
		margin-top: -4px;
	}
	&.icon--location-pin {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			color: $location-color;
			font-size: $location-size;

			transform: translateY(-50%);
			@include respond-to(tablets) {
				left: -4px;
			}
		}
	}
	&__text {
		@include respond-to(tablets) {
			padding-left: 29px;
			letter-spacing: -0.1px;
		}
		@include respond-to(handhelds) {
			letter-spacing: 0;
		}
		display: block;
		margin-bottom: 3px;
		padding-left: 32px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		letter-spacing: 0.1px;
	}
}

.accordion {
	padding: 16px 0;
	border-top: 1px solid $border-color;
	@include respond-to(tablets) {
		padding: 14px 0;
		margin-left: -7px;
	}
	@include respond-to(handhelds) {
		padding: 17px 15px 16px;
	}
	&__title {
		@include respond-to(tablets) {
			margin-bottom: 18px;

			font-size: $accordion-title-font-size-tab;
		}
		@include respond-to(handhelds) {
			margin-bottom: 19px;

			font-size: $accordion-title-font-size-mob;
		}

		position: relative;

		margin: 0;
		margin-bottom: 24px;
		padding-left: 3px;

		font-weight: 300;
		font-size: $accordion-title-font-size;
		letter-spacing: -0.3px;
		&:hover {
			cursor: pointer;
		}
		&.icon--plus {
			& ~ .accordion__item,
			& ~ .accordion__code,
			& ~ .accordion__info,
			& ~ .accordion__text {
				display: none;
			}
		}
		&::before {
			position: absolute;
			top: 50%;
			right: 6px;

			font-weight: bold;
			font-size: $category-icon-size;

			transform: translateY(-50%);
		}
		span {
			font-family: $font-stack-Helvetica;
		}
	}
	dl.accordion__item {
		margin: 0;
		margin-top: -5px;
		@include respond-to(tablets) {
			margin-top: -3px;
			margin-left: 5px;
			line-height: 14px;
		}
		@include respond-to(handhelds) {
			margin-left: 5px;
			line-height: 14px;
		}
	}
	&__item {
		@include respond-to(tablets) {
			font-size: $accordion-item-font-size-tab;
			margin-left: 5px;
			margin-top: -1px;
		}
		@include respond-to(handhelds) {
			font-size: $accordion-item-font-size-mob;
			margin-left: 5px;
		}

		font-size: $accordion-item-font-size;
		&-title {
			display: inline-block;

			font-weight: 600;
			letter-spacing: -0.4px;
			vertical-align: top;
		}
		&-value {
			display: inline-block;
			width: 80%;
			margin: 0;

			letter-spacing: -0.6px;
			@include respond-to(handhelds) {
				letter-spacing: -0.1px;
			}
		}
		b {
			margin-right: 5px;

			font-weight: bold;
			letter-spacing: -0.5px;
		}
	}
	&__code {
		@include respond-to(tablets) {
			margin-top: 16px;
			margin-left: 5px;

			font-size: $accordion-item-font-size-tab;
		}
		@include respond-to(handhelds) {
			margin-top: 16px;
			margin-left: 5px;

			font-size: $accordion-item-font-size-mob;
		}

		margin-top: 20px;
		margin-bottom: 5px;

		font-size: $accordion-item-font-size;
		&-title {
			display: inline-block;

			font-weight: 600;
			letter-spacing: -0.4px;
			vertical-align: top;
			@include respond-to(handhelds) {
				letter-spacing: 0.1px;
			}
		}
		&-number {
			@include respond-to(handhelds) {
				width: 70%;
				letter-spacing: -0.4px;
			}

			display: inline-block;
			width: 75%;
			margin: 0;

			color: $item-code-color;
		}
	}
	&__info {
		margin-top: 17px;
		@include respond-to(tablets) {
			margin-top: 15px;
		}
		@include respond-to(handhelds) {
			margin-left: 5px;
			margin-top: 14px;
		}
	}
	&__text {
		@include respond-to(tablets) {
			margin: 0;
			margin-left: 5px;
			line-height: 14px;

			font-size: $accordion-item-font-size-tab;
		}
		@include respond-to(handhelds) {
			margin: 0;

			font-size: $accordion-item-font-size-mob;
			line-height: 14px;
		}

		margin: 0;
		margin-bottom: 1px;

		font-size: $accordion-item-font-size;
		line-height: 16px;
		letter-spacing: -0.2px;
		b {
			display: inline-block;
			margin-top: 17px;
			margin-bottom: 7px;
			padding-right: 10px;
			@include respond-to(tablets) {
				margin-bottom: 5px;
				padding-right: 0;
				letter-spacing: -0.5px;
			}
			@include respond-to(handhelds) {
				padding-right: 5px;
				margin-bottom: 5px;
				letter-spacing: -0.3px;
			}

			font-weight: bold;
			letter-spacing: -0.7px;
			a {
				color: $primary-text-color;
			}
		}
		&-item {
			display: block;

			line-height: 17px;
			@include respond-to(tablets) {
				line-height: 12px;
			}
			@include respond-to(handhelds) {
				line-height: 14px;
				margin-left: 5px;
				margin-top: 1px;
				&:first-child {
					margin-top: 9px;
				}
				&:last-child {
					margin-bottom: 9px;
				}
			}
		}
	}
	&:nth-last-child(2) {
		@include respond-to(tablets) {
			.accordion__item {
				b {
					display: block;
				}
			}
			.accordion__text {
				b { 
					padding-right: 10px;
				}
			}
		}
		@include respond-to(handhelds) {
			.accordion__title {
				letter-spacing: 0.1px;
				margin-bottom: 21px;
			}
			.accordion__item {
				b {
					display: block;
				}
				margin-bottom: 8px;
			}
			.accordion__text {
				b { 
					padding-right: 9px;
					margin-top: 8px;
					margin-left: 5px;
				}
			}
		}
	}
}

.social {
	@include respond-to(tablets) {
		justify-content: space-between;
		padding: 15px 0 16px;
	}

	display: flex;
	justify-content: flex-end;
	padding: 24px 0 21px;
	border-top: 1px solid $border-color;
	&__text {
		@include respond-to(tablets) {
			font-size: $social-font-size-tab;
			margin-top: 3px;
		}

		font-weight: 600;
		font-size: $social-font-size;
		letter-spacing: -0.9px;
	}
	&__item {
		margin-left: 18px;
		padding: 4px;
		border: 1px solid transparent;

		color: $social-item-color;
		font-size: $social-icon-size;
		text-decoration: none;
		&:hover {
			padding: 4px;
			border: 1px solid $social-item-color;

			border-radius: 100%;
		}
	}
	&.social--after {
		@include respond-to(handhelds) {
			display: flex;
			padding-bottom: 0;
		}

		display: none;
	}
	&.social--before {
		@include respond-to(handhelds) {
			display: none;
		}
	}
}
