.time-left {
	@include respond-to(tablets) {
		top: 14px;
		right: 20px;
	}

	position: absolute;
	top: 20px;
	right: 120px;

	padding: 10px;
	padding-left: 48px;

	background-color: $time-left-background-color;
	&__text {
		display: block;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		font-size: $time-left-main-font-size;
	}
	&__time {
		display: block;

		color: $emphasize-text-color;
		font-family: $font-stack-Helvetica;
		font-size: $time-left-time-font-size;
	}
	&.icon--clock {
		&::before {
			position: absolute;
			top: 50%;
			left: 10px;

			color: $clock-color1;
			font-size: $clock-size;

			transform: translateY(-50%);
		}
	}
}

.product {
	display: flex;
	margin-top: 40px;
	&__sale {
		position: absolute;
		top: 0;
		left: 27px;
		z-index: 100;
		&::before {
			font-size: 27px;
			color: $clock-color2;
		}
	}
	&__title {
		@include respond-to(tablets) {
			font-size: $product-title-font-size-tab;
		}

		margin: 0;

		color: $emphasize-text-color;
		font-weight: 300;
		font-size: $product-title-font-size;
	}
	&__subtitle {
		@include respond-to(tablets) {
			padding-right: 90px;

			font-size: $product-subtitle-font-size-tab;
		}

		display: block;
		margin: 0;

		color: $primary-text-color;
		font-weight: 200;
		font-size: $product-subtitle-font-size;
	}
}

.photo {
	width: 60%;
}

/*.photo {
	@include respond-to(tablets) {
		flex-direction: column;
		justify-content: flex-start;
	}

	display: flex;
	justify-content: space-between;
	width: 60%;
	&__view {
		@include respond-to(tablets) {
			order: 1;
			width: 414px;
			height: 553px;
		}

		width: 481px;
		height: 641px;
		&-img {
			@include image-fit;
		}
	}
	&__nav {
		@include respond-to(tablets) {
			flex-direction: row;
			order: 2;
			height: 91px;
			margin-top: 24px;
			.prev {
				width: 16px;
				height: 1px;
				margin: 50px 30px;
				&::before {
					top: -5px;
					left: 1px;

					transform: rotate(-135deg);
				}
			}
			.next {
				width: 16px;
				height: 1px;
				margin: 50px 30px;
				&::before {
					top: -5px;
					left: 3px;

					transform: rotate(45deg);
				}
			}
		}

		display: flex;
		flex-direction: column;
		.prev {
			position: relative;

			width: 1px;
			height: 16px;
			margin: 0 auto;
			margin-bottom: 5px;

			background-color: $inactive-arrow-color;
			&::before {
				content: '';

				position: absolute;
				top: 1px;
				left: -5px;

				width: 10px;
				height: 10px;
				border-top: 1px solid $inactive-arrow-color;
				border-right: 1px solid $inactive-arrow-color;

				transform: rotate(-45deg);
			}
		}
		&-item {
			display: block;
			width: 62px;
			height: 91px;
			margin: 10px auto;
			border: 2px solid transparent;
			&.nav-item--1 {
				background: url('../images/photo1-min.jpg') no-repeat;
				background-size: 100%;
			}
			&.nav-item--2 {
				background: url('../images/photo2-min.jpg') no-repeat;
				background-size: 100%;
			}
			&.nav-item--3 {
				background: url('../images/photo3-min.jpg') no-repeat;
				background-size: 100%;
			}
			&.nav-item--4 {
				background: url('../images/photo4-min.jpg') no-repeat;
				background-size: 100%;
			}
			&.active {
				border: 2px solid $active-item-color;

				background-size: 100%;
			}
			&:hover {
				border: 2px solid $border-color;

				cursor: pointer;
			}
		}
		.next {
			position: relative;

			width: 1px;
			height: 16px;
			margin: 0 auto;
			margin-bottom: 5px;

			background-color: $active-arrow-color;
			&::before {
				content: '';

				position: absolute;
				top: 3px;
				left: -5px;

				width: 10px;
				height: 10px;
				border-top: 1px solid $active-arrow-color;
				border-right: 1px solid $active-arrow-color;

				transform: rotate(135deg);
			}
		}
	}
}*/

.description {
	width: 40%;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;

	font-size: $product-price-font-size;
	&__number {
		&.price--old {
			@include respond-to(tablets) {
				display: block;
				margin: 0;

				font-size: $product-price-font-size-tab;
			}

			margin-right: 15px;

			color: $old-price-color;
			text-decoration: line-through;
		}
		&.price--new {
			@include respond-to(tablets) {
				display: block;

				font-size: $product-new-price-font-size-tab;
			}

			color: $new-price-color;
		}
	}
	&__sale {
		width: $sale-width;
		height: $sale-height;
		padding: 14px 0;

		border-radius: 100%;
		background-color: $sale-background-color;

		color: $sale-color;
		font-size: $sale-font-size;
		text-align: center;
	}
}

.color {
	@include respond-to(tablets) {
		font-size: $pick-color-font-size-tab;
	}

	padding: 14px 0;
	border-top: 1px solid $border-color;

	font-size: $pick-color-font-size;
	&__text {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 10px;

		font-weight: 600;
	}
	&__pic {
		display: inline-block;
		width: $pick-color-width;
		height: $pick-color-height;
		margin-right: 10px;
		&.active {
			border: 2px solid $active-item-color;
		}
		&:hover {
			border: 2px solid $white;

			cursor: pointer;
		}
	}
	&--1 {
		background: url(../images/color1-min.png) no-repeat;
	}
	&--2 {
		background: url(../images/color2-min.png) no-repeat;
	}
	&--3 {
		background: url(../images/color3-min.png) no-repeat;
	}
	&--4 {
		background: url(../images/color4-min.png) no-repeat;
	}
	&--5 {
		background: url(../images/color5-min.png) no-repeat;
	}
}

.size {
	@include respond-to(tablets) {
		font-size: $pick-size-font-size-tab;
	}

	padding: 14px 0;
	border-top: 1px solid $border-color;

	font-size: $pick-size-font-size;
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		margin-bottom: 10px;

		font-weight: 600;
	}
	&__table {
		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
	}
	&__pic {
		@include respond-to(tablets) {
			padding: 9px;
		}

		display: inline-block;
		width: $pick-size-width;
		height: $pick-size-height;
		margin-right: 10px;
		padding: 8px;
		border: 1px solid $pick-size-border-color;

		color: $primary-text-color;
		text-align: center;
		&.active {
			border: 2px solid $active-item-color;
		}
		&.disabled {
			background-color: $disabled-background-color;

			color: $disabled-text-color;

			pointer-events: none;
		}
		&:hover {
			border: 2px solid $black;

			cursor: pointer;
		}
	}
	&__fit {
		display: inline-block;
		margin-top: 15px;

		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
		span {
			@include respond-to(tablets) {
				font-size: $product-size-fit-font-size-tab;
			}

			font-family: $font-stack-OpenSans;
			font-size: $product-size-fit-font-size;
		}
		&.icon--hanger {
			position: relative;
			&::before {
				@include respond-to(tablets) {
					width: 12px;
					height: 12px;
					padding: 3px;

					font-size: $hanger-size-tab;
				}

				position: absolute;
				top: 50%;
				left: 100%;

				width: 14px;
				height: 14px;
				margin-left: 10px;
				padding: 5px;

				border-radius: 100%;
				background-color: $hanger-background-color;

				color: $hanger-color;
				font-size: $hanger-size;
				text-align: center;

				transform: translateY(-50%);
			}
		}
	}
}

.quantity {
	padding: 14px 0;
	border-top: 1px solid $border-color;

	font-size: $quantity-font-size;
	&__text {
		font-weight: 600;
	}
	&__count {
		margin-top: 10px;
		&-less {
			position: relative;

			display: inline-block;
			margin-right: 8px;
			margin-bottom: 4px;

			cursor: pointer;
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 9px;
				height: 2px;

				background-color: $black;

				transform: translate(-50%);
			}
		}
		&-number {
			@include respond-to(tablets) {
				width: 35px;
				height: 35px;
				padding: 9px;
			}

			display: inline-block;
			width: 76px;
			height: 35px;
			border: 1px solid $border-color;

			outline: none;

			color: $primary-text-color;
			font-family: $font-stack-OpenSans;
			font-weight: 600;
			text-align: center;
		}
		&-more {
			position: relative;

			display: inline-block;
			margin-bottom: 4px;
			margin-left: 8px;

			cursor: pointer;
			&::before {
				content: "";

				position: absolute;
				top: 50%;

				width: 9px;
				height: 2px;

				background-color: $black;

				transform: translate(-50%);
			}
			&::after {
				content: "";

				position: absolute;
				top: -4px;
				left: 50%;

				width: 2px;
				height: 10px;

				background-color: $black;

				transform: translateX(-50%);
			}
		}
	}
	&__left {
		@include respond-to(tablets) {
			left: 10%;

			width: 90%;

			font-size: $quantity-left-font-size-tab;
		}

		position: absolute;
		top: -54px;
		left: 0;

		padding: 7px;

		background-color: $item-left-background-color;

		color: $primary-text-color;
		text-align: center;
		&-number {
			margin-right: 5px;
		}
		&::after {
			@include respond-to(tablets) {
				left: 75%;
			}

			content: "";

			position: absolute;
			top: 100%;
			left: 50%;

			border: 11px solid transparent;
			border-top: 11px solid $item-left-background-color;

			transform: translateX(-50%);
		}
	}
}

.like {
	@include respond-to(tablets) {
		padding: 18px;
	}

	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 10px 30px;
	padding-left: 50px;
	border: 1px solid $border-color;

	font-weight: 200;
	font-size: $like-font-size;
	text-decoration: none;
	vertical-align: bottom;
	&:hover {
		border-color: $black;
	}
	&.icon--heart {
		position: relative;
		&::before {
			@include respond-to(tablets) {
				left: 50%;

				transform: translate(-50%, -50%);
			}

			position: absolute;
			top: 50%;
			left: 28px;

			color: $black;
			font-size: $like-icon-size;

			transform: translateY(-50%);
		}
	}
	span {
		@include respond-to(tablets) {
			display: none;
		}

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
		text-transform: uppercase;
	}
}

.add-to-cart {
	@include respond-to(tablets) {
		float: right;

		margin-left: 0;
		padding-left: 15px;
	}

	position: relative;

	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 19px;
	padding-left: 30px;

	background-color: $add-to-cart-background-color;

	font-weight: 200;
	font-size: $add-to-cart-font-size;
	text-decoration: none;
	vertical-align: bottom;
	&:hover {
		background-color: $dark-orange;
	}
	&:visited {
		color: $black;
	}
	&__text {
		@include respond-to(tablets) {
			padding: 12px 15px;
			padding-left: 20px;
		}

		display: inline-block;
		padding: 12px 25px;

		background: url('../images/shop-bag-min.png') no-repeat;
		background-position: 0 9px;

		color: $white;
		text-transform: uppercase;
	}
}

.shop-bag-img {
	width: 15px;
	height: 19px;
	margin-right: 12px;
}

.make-order {
	@include respond-to(tablets) {
		font-size: $make-order-font-size-tab;
	}

	padding: 14px 0;
	border-top: 1px solid $border-color;

	font-size: $make-order-font-size;
}

.call {
	margin-bottom: 10px;
	&.icon--phone {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;

			color: $phone-color;
			font-size: $phone-size;
		}
	}
	&__text {
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
	}
	&__number {
		margin-right: 10px;
		margin-left: 10px;

		color: $link-color;
		font-family: $font-stack-Helvetica;
		&:nth-child(2) {
			padding-left: 25px;
		}
		&-text {
			color: $link-color;
			font-family: $font-stack-Helvetica;
		}
		&:hover {
			color: $primary-text-color;
		}
	}
}

.location {
	&.icon--location-pin {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			color: $location-color;
			font-size: $location-size;

			transform: translateY(-50%);
		}
	}
	&__text {
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;

		color: $primary-text-color;
		font-family: $font-stack-Helvetica;
	}
}

.details {
	padding: 20px 0;
	border-top: 1px solid $border-color;
	&__title {
		@include respond-to(tablets) {
			margin-bottom: 18px;

			font-size: $details-title-font-size-tab;
		}

		position: relative;

		margin: 0;
		margin-bottom: 25px;

		font-weight: 300;
		font-size: $details-title-font-size;
		&:hover {
			cursor: pointer;
		}
		&.icon--plus {
			& ~ .details__item,
			& ~ .details__code,
			& ~ .details__info,
			& ~ .details__text {
				display: none;
			}
		}
		&::before {
			position: absolute;
			top: 50%;
			right: 0;

			transform: translateY(-50%);
		}
		span {
			font-family: $font-stack-Helvetica;
		}
	}
	&__item {
		@include respond-to(tablets) {
			font-size: $details-item-font-size-tab;
		}

		font-size: $details-item-font-size;
		&-title {
			display: inline-block;
			margin-right: 5px;

			font-weight: 600;
			vertical-align: top;
		}
		&-value {
			display: inline-block;
			width: 80%;
			margin: 0;
		}
		b {
			margin-right: 5px;

			font-weight: bold;
		}
	}
	&__code {
		@include respond-to(tablets) {
			margin-top: 14px;

			font-size: $details-item-font-size-tab;
		}

		margin-top: 25px;

		font-size: $details-item-font-size;
		&-title {
			display: inline-block;
			margin-right: 5px;

			font-weight: 600;
			vertical-align: top;
		}
		&-number {
			display: inline-block;
			width: 75%;
			margin: 0;

			color: $item-code-color;
		}
	}
	&__info {
		margin-top: 20px;
	}
	&__text {
		@include respond-to(tablets) {
			margin: 0;

			font-size: $details-item-font-size-tab;
		}

		margin: 0;

		font-size: $details-item-font-size;
		b {
			display: inline-block;
			margin-top: 20px;

			font-weight: bold;
			a {
				color: $primary-text-color;
			}
		}
		&-item {
			display: block;
			padding-right: 30px;
		}
	}
}

.social {
	@include respond-to(tablets) {
		justify-content: space-between;
	}

	display: flex;
	justify-content: flex-end;
	padding: 24px 0;
	border-top: 1px solid $border-color;
	&__text {
		@include respond-to(tablets) {
			font-size: $social-font-size-tab;
		}

		font-weight: 600;
		font-size: $social-font-size;
	}
	&__item {
		margin-left: 20px;
		padding: 5px;
		border: 1px solid transparent;

		color: $social-item-color;
		text-decoration: none;
		&:hover {
			padding: 5px;
			border: 1px solid $social-item-color;

			border-radius: 100%;
		}
	}
}
