.recommendation {
	@include respond-to(tablets) {
		padding: 37px 0;

		font-size: $recommendation-font-size-tab;
		letter-spacing: -0.5px;
	}
	@include respond-to(handhelds) {
		padding: 20px 17px;

		font-size: $recommendation-font-siz-mob;
		text-align: left;
	}

	padding: 49px 0;
	border-top: 1px solid $border-color;

	font-size: $recommendation-font-size;
	text-align: center;
	&__text {
		@include respond-to(handhelds) {
			display: block;
			margin-bottom: 18px;
		}

		color: $primary-text-color;
		font-weight: 600;
	}
	&__link {
		@include respond-to(handhelds) {
			display: block;
			margin-right: 0;
			margin-top: -1px;
			margin-left: 2px;

			line-height: 24px;
		}

		margin-left: 20px;

		color: $link-color;
		&:hover {
			color: $primary-text-color;
		}
	}
}
