.similar-goods {
	border-top: 1px solid $border-color;
	&__title {
		font-weight: 300;
		font-size: $similar-goods-title-font-size;
		text-align: center;
	}
	&__block {
		display: flex;
		justify-content: space-between;
	}
}

.item {
	margin-bottom: 26px;
	&__img {
		@include respond-to(tablets) {
			width: 149px;
			height: 223px;
		}

		width: 205px;
		height: 273px;
		margin-bottom: 10px;
		&-image {
			@include image-fit;
		}
	}
	&__title {
		@include respond-to(tablets) {
			font-size: $similar-good-title-font-size-tab;
		}

		margin: 0;

		font-weight: 400;
		font-size: $similar-good-title-font-size;
	}
	&__subtitle {
		@include respond-to(tablets) {
			font-size: $similar-good-subtitle-font-size-tab;
		}

		margin: 0;

		font-weight: 200;
		font-size: $similar-good-subtitle-font-size;
	}
	&__price {
		@include respond-to(tablets) {
			margin-top: 5px;

			font-size: $similar-good-price-font-size-tab;
		}

		margin-top: 13px;

		font-size: $similar-good-price-font-size;
		&.price--old {
			@include respond-to(tablets) {
				display: inline-block;
			}

			margin-right: 5px;

			color: $old-price-color;
			text-decoration: line-through;
		}
		&.price--new {
			@include respond-to(tablets) {
				display: inline-block;
			}

			color: $new-price-color;
		}
	}
}
