.Wallop { 
  max-width: 480px; 
  display: flex;
  flex-direction: row-reverse;
  &-list {
    margin: 15px;
  }
  &-item {
    width: 481px;
    height: 641px;
    &-img {
      @include image-fit;
    }
  }
  &-pagination {
    text-align: center;
    width: 75px;
  }
  &-dot {
    width: 62px;
    height: 91px;
    margin: 10px auto;
    border: 2px solid transparent;
    outline: none;
    &.Wallop-dot--1 {
      background: url('../images/photo1-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--2 {
      background: url('../images/photo2-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--3 {
      background: url('../images/photo3-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--4 {
      background: url('../images/photo4-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--current {
      border: 2px solid $orange;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.Wallop-buttonPrevious, .Wallop-buttonNext {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  position: relative;
  display: block;
  margin: 20px auto;
}

.Wallop-buttonNext {
  &::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: $inactive-arrow-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: solid 1px $inactive-arrow-color;
    border-right: solid 1px $inactive-arrow-color;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  &:hover {
    cursor: pointer;
    &::before {
      border-color: $active-arrow-color;
      cursor: pointer;
    }
    &::after {
      background-color: $active-arrow-color;
      cursor: pointer;
    }
  }
}

.Wallop-buttonPrevious {
  &::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: $inactive-arrow-color;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 10px;
    height: 10px;
    border-top: solid 1px $inactive-arrow-color;
    border-right: solid 1px $inactive-arrow-color;
    transform: translate(50%, -50%) rotate(-45deg);
  }
  &:hover {
    cursor: pointer;
    &::before {
      border-color: $active-arrow-color;
      cursor: pointer;
    }
    &::after {
      background-color: $active-arrow-color;
      cursor: pointer;
    }
  }
}
