.Wallop {
  @include respond-to(handhelds) {
    flex-direction: column;
  }
  @include respond-to(tablets) {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row-reverse;
  &-list {
    position: relative;

    margin: 4px 30px;
  }
  &-item {
    @include respond-to(handhelds) {
      width: 228px;
      height: 342px;
    }
    @include respond-to(tablets) {
      height: 547px;
      width: 430px;
    }

    overflow: hidden;
    width: 481px;
    height: 633px;
    &-img {
      @include image-fit;
    }
  }
  &-pagination {
    @include respond-to(tablets) {
      flex-direction: row;
      width: 100%;
      margin-top: 13px;
    }
    @include respond-to(handhelds) {
      flex-direction: row;
      justify-content: space-between;
      align-self: center;
      width: 70px;
      margin-top: 15px;
    }

    display: flex;
    flex-direction: column;
    width: 75px;
  }
  &-dot {
    @include respond-to(handhelds) {
      width: 8px;
      height: 8px;

      border-radius: 100%;
    }
    @include respond-to(tablets) {
      width: 64px;
      height: 83px;
    }

    width: 73px;
    height: 97px;
    margin: 4px auto;
    border: 2px solid transparent;

    outline: none;
    &.Wallop-dot--1 {
      @include respond-to(handhelds) {
        background: none;
        background-color: $slider-dots-inactive-color;
      }
      @include respond-to(tablets) {
        margin-top: 4px;
      }
      @include respond-to(handhelds) {
        margin-top: 4px;
      }

      margin-top: 7px;

      background: url('../images/photo1-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--2 {
      @include respond-to(handhelds) {
        background: none;
        background-color: $slider-dots-inactive-color;
      }

      background: url('../images/photo2-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--3 {
      @include respond-to(handhelds) {
        background: none;
        background-color: $slider-dots-inactive-color;
      }

      background: url('../images/photo3-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--4 {
      @include respond-to(handhelds) {
        background: none;
        background-color: $slider-dots-inactive-color;
      }
      @include respond-to(tablets) {
        margin-bottom: 4px;
      }
      @include respond-to(handhelds) {
        margin-bottom: 4px;
      }

      margin-bottom: 7px;

      background: url('../images/photo4-min.jpg') no-repeat;
      background-size: 100%;
    }
    &.Wallop-dot--current {
      @include respond-to(handhelds) {
        background-color: $slider-dots-active-color;
      }

      border: 2px solid $orange;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.Wallop-buttonPrevious,
.Wallop-buttonNext {
  @include respond-to(handhelds) {
    display: none;
  }

  position: relative;

  display: block;
  margin: 15px auto;
  border-color: transparent;

  background-color: transparent;
  outline: none;
}

.Wallop-buttonNext {
  &::after {
    @include respond-to(tablets) {
      width: 24px;
      height: 1px;
    }

    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 1px;
    height: 24px;

    background-color: $inactive-arrow-color;

    transform: translate(-50%, -50%);
  }
  &::before {
    @include respond-to(tablets) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 16px;
    border-top: solid 1px $inactive-arrow-color;
    border-right: solid 1px $inactive-arrow-color;

    transform: translate(-50%, -50%) rotate(135deg);
  }
  &:hover {
    cursor: pointer;
    &::before {
      border-color: $active-arrow-color;

      cursor: pointer;
    }
    &::after {
      background-color: $active-arrow-color;

      cursor: pointer;
    }
  }
}

.Wallop-buttonPrevious {
  &::after {
    @include respond-to(tablets) {
      width: 24px;
      height: 1px;
    }

    content: '';

    position: absolute;
    top: 50%;
    right: 50%;

    width: 1px;
    height: 24px;

    background-color: $inactive-arrow-color;

    transform: translate(50%, -50%);
  }
  &::before {
    @include respond-to(tablets) {
      transform: translate(50%, -50%) rotate(-135deg);
    }

    content: '';

    position: absolute;
    top: 50%;
    right: 50%;

    width: 16px;
    height: 16px;
    border-top: solid 1px $inactive-arrow-color;
    border-right: solid 1px $inactive-arrow-color;

    transform: translate(50%, -50%) rotate(-45deg);
  }
  &:hover {
    cursor: pointer;
    &::before {
      border-color: $active-arrow-color;

      cursor: pointer;
    }
    &::after {
      background-color: $active-arrow-color;

      cursor: pointer;
    }
  }
}
