
$icon-avatar: "\EA01" !default;

$icon-clock: "\EA02" !default;

$icon-facebook: "\EA03" !default;

$icon-google-plus: "\EA04" !default;

$icon-hanger: "\EA05" !default;

$icon-heart: "\EA06" !default;

$icon-instagram: "\EA07" !default;

$icon-location-pin: "\EA08" !default;

$icon-phone: "\EA09" !default;

$icon-pinterest: "\EA0A" !default;

$icon-shopping-cart: "\EA0B" !default;

$icon-twitter: "\EA0C" !default;

$icon-vk: "\EA0D" !default;