footer(class="footer")
	nav(class="footer__main-menu")
		span(class="footer__main-menu-item") Каталог
		a(href="#", class="footer__main-menu-item") Женщинам
		a(href="#", class="footer__main-menu-item") Мужчинам
		a(href="#", class="footer__main-menu-item") Детям
		a(href="#", class="footer__main-menu-item") Для дома
		a(href="#", class="footer__main-menu-item") Бренды
	nav(class="footer__buyer-menu")
		span(class="footer__buyer-menu-item") Покупателям
		a(href="#", class="footer__buyer-menu-item") Оплата
		a(href="#", class="footer__buyer-menu-item") Возврат
		a(href="#", class="footer__buyer-menu-item") Доставка
		a(href="#", class="footer__buyer-menu-item") Оферта
		a(href="#", class="footer__buyer-menu-item") Поддержка
	nav(class="footer__about-menu")
		span(class="footer__about-menu-item") О нас
		a(href="#", class="footer__about-menu-item") О проекте
		a(href="#", class="footer__about-menu-item") Вакансии
		a(href="#", class="footer__about-menu-item") Партнерам
		a(href="#", class="footer__about-menu-item") Контакты
		a(href="#", class="footer__about-menu-item") FAQ
	div(class="copy")
		div(class="footer-logo")
			a(href="#") One Club
		span(class="copy-text") &copy; 2016 ONE CLUB 2.0
		span(class="copy-text") All Right reserved
		div(class="footer-social-credit")
			div(class="footer-social")
				a(href="#", class="footer-social__item icon icon--facebook")
				a(href="#", class="footer-social__item icon icon--instagram")
				a(href="#", class="footer-social__item icon icon--twitter")
				a(href="#", class="footer-social__item icon icon--pinterest")
			div(class="credit")
				img(src="images/credit-min.png", alt="credit", class="credit__img")