header(class="header")
	div(class="header-logo", id="logo")
		a(href="#") One CLub
	div(class="shop")
		a(href="#")
			img(src="images/mob-shop-bag.png", alt="go shop", class="shop-img")
	div(class="switcher")
		a(href="#", class="switcher__item icon icon--clock")
			span Акции
		a(href="#", class="switcher__item")
			span Каталог
	div(class="contact-search")
		div(class="contact")
			a(href="tel: +380443590899", class="phone icon icon--phone icon--contact")
				span(class="contact__link") +380 44 359-08-99
				span Пн-Вс: 9:00-21:00
			a(href="#", class="login icon icon--avatar icon--contact")
				span(class="contact__link") Войти
			a(href="#", class="basket icon icon--shopping-cart icon--contact")
				span(class="contact__link") Корзина
				span(class="contact__number") 2
		form(action="#", class="search")
			input(type="search", placeholder="Поиск...", class="search__input")
			button(type="submit", class="search-icon")
	nav(role="navigation")
		div(class="menu-icon", data-toggle-menu)
		ul(class="main-menu")
			li
				a(href="#", class="main-menu__item") Женщинам
			li
				a(href="#", class="main-menu__item") Мужчинам
			li
				a(href="#", class="main-menu__item") Детям
			li
				a(href="#", class="main-menu__item") Косметика
			li
				a(href="#", class="main-menu__item") Для дома
			li
				a(href="#", class="main-menu__item") Бренды