doctype html
html(lang="en")
	head
		title= "Card"
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", href="css/wallop.css")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		include header.pug
		main(class="main")
			nav(class="breadcrumbs")
				a(href="#", class="breadcrumbs__item") Главная страница
				span /
				a(href="#", class="breadcrumbs__item") Каталог
				span /
				a(href="#", class="breadcrumbs__item") Категория 1
				span /
				span(class="breadcrumbs__item") Costa Patch Pocket Denim Top
			section(class="product", id="product")
				div(class="time-left icon icon--clock")
					span(class="time-left__text") До конца распродажи
					span(class="time-left__time") 3 дня, 15:37:01
				include slider.pug
				div(class="description")
					h1(class="product__title") Current Elliott
						span(class="product__subtitle") Costa Patch Pocket Denim Top
					div(class="price")
						div(class="price__number")
							span(class="price__number price--old") 30 000 грн
							span(class="price__number price--new") 15 000 грн
						div(class="price__sale") -50%
					div(class="color")
						span(class="color__text") Цвет: 
						span(class="color__name") Синий
						div(class="colors")
							img(src="images/color1-min.png", class="color__pic", data-toggle-color)
							img(src="images/color2-min.png", class="color__pic", data-toggle-color)
							img(src="images/color3-min.png", class="color__pic", data-toggle-color)
							img(src="images/color4-min.png", class="color__pic", data-toggle-color)
							img(src="images/color5-min.png", class="color__pic", data-toggle-color)
					div(class="size")
						div(class="size__info")
							span(class="size__text") Размер:
							a(href="#", class="size__table") Таблица размеров
						div(class="sizes")
							div(class="size__pic", data-toggle-size) XS
							div(class="size__pic active", data-toggle-size) S
							div(class="size__pic disabled", data-toggle-size) M
							div(class="size__pic disabled", data-toggle-size) L
							div(class="size__pic disabled", data-toggle-size) XL
						a(href="#", class="size__fit icon icon--hanger") 
							span Примерить онлайн
					div(class="quantity")
						span(class="quantity__text") Количество:
						div(class="quantity__count")
							div(class="quantity__count-less")
							input(type="tel", value="1", class="quantity__count-number")
							div(class="quantity__count-more")
						a(href="#", class="like icon icon--heart") 
							span В избранное 
						a(href="#", class="add-to-cart") 
							span(class="add-to-cart__text") Добавить в корзину
							div(class="quantity__left") Осталось в наличии: 
								span(class="quantity__left-number") 1 шт.
								| Спешите купить сейчас!
					div(class="make-order")
						div(class="call icon icon--phone")
							span(class="call__text") Оформить заказ по телефону
							a(href="tel: +380954589846", class="call__number") +38 095 458-98-46
							span(class="call__number-text") или
							a(href="tel: +380443590899", class="call__number") +38 044 359-08-99
						div(class="location icon icon--location-pin")
							a(href="javascript:PopUpShow()", class="location__text") Наличие в бутиках ONE CLUB
					div(class="details")
						h3(class="details__title icon icon--minus") 
							span Описание и детали
						dl(class="details__item")
							dt(class="details__item-title") Состав:
							dd(class="details__item-value") 100% трикотаж
							dt(class="details__item-title") Сезон:
							dd(class="details__item-value") демисезон
							dt(class="details__item-title") Детали:
							dd(class="details__item-value") Облегающая модель выполнена из гладкого трикотажа.
						dl(class="details__code")
							dt(class="details__code-title") Код товара:
							dd(class="details__code-number") 1234-5678-8765-4321
					div(class="details")
						h3(class="details__title icon icon--minus") 
							span Измерения
						div(class="details__item")
							b Размер вещи на фото:
							| S
						div(class="details__info")
							p(class="details__text") Обхват груди: 85 см
							p(class="details__text") Обхват талии: 61 см
							p(class="details__text") Обхват бедер: 89 см
							p(class="details__text") Рост: 175 см
						p(class="details__text") 
							b Чтобы выбрать подходящий размер, воспользуйтесь онлайн-примерочной, 
								a(href="#") таблицей размеров
								|, или обратитесь к нашему консультанту
					div(class="details")
						h3(class="details__title icon icon--minus") 
							span Доставка и возврат
						div(class="details__item")
							b Ожидаемая дата доставки:
							| 21.09.2016 - 23.09.2016
						p(class="details__text") 
							b Бесплатная доставка при заказе от 2000 грн, а также при оплате банковской картой.
						p(class="details__text") 
							b Вы можете выбрать любой удобный способ доставки:
						p(class="details__text")
							span(class="details__text-item") 1. Самовывоз из наших бутиков в Киеве (адрес выбирается в момент оформления заказа) - бесплатно.
							span(class="details__text-item") 2. Курьером по Киеву.
							span(class="details__text-item") 3. Сервисом доставки "Нова пошта" по всей Украине.
						p(class="details__text") 
							b Если товар не подошел, Вы можете вернуть его в течение 14 дней с момента получения.
					div(class="social social--before")
						span(class="social__text") Поделиться
						div(class="social-links")
							a(href="#", class="social__item icon icon--facebook")
							a(href="#", class="social__item icon icon--vk")
							a(href="#", class="social__item icon icon--google-plus")
							a(href="#", class="social__item icon icon--twitter")
			section(class="similar-goods")
				h2(class="similar-goods__title icon icon--minus") 
					span Похожие товары
				div(class="similar-goods__block")
					div(class="item")
						div(class="item__img item--1")
							a(href="#") Andy Striped Mini Skirt
						h3(class="item__title") Tanya Taylor
						h4(class="item__subtitle") Andy Striped Mini Skirt
						div(class="item__price")
							span(class="item__price price--old") 30 000 грн
							span(class="item__price price--new") 15 000 грн
					div(class="item")
						div(class="item__img item--2")
							a(href="#") Andy Striped Mini Skirt
						h3(class="item__title") Tanya Taylor
						h4(class="item__subtitle") Andy Striped Mini Skirt
						div(class="item__price")
							span(class="item__price price--old") 30 000 грн
							span(class="item__price price--new") 15 000 грн
					div(class="item")
						div(class="item__img item--3")
							a(href="#") Andy Striped Mini Skirt
						h3(class="item__title") Tanya Taylor
						h4(class="item__subtitle") Andy Striped Mini Skirt
						div(class="item__price")
							span(class="item__price price--old") 30 000 грн
							span(class="item__price price--new") 15 000 грн
					div(class="item")
						div(class="item__img item--4")
							a(href="#") Andy Striped Mini Skirt
						h3(class="item__title") Tanya Taylor
						h4(class="item__subtitle") Andy Striped Mini Skirt
						div(class="item__price")
							span(class="item__price price--old") 30 000 грн
							span(class="item__price price--new") 15 000 грн
				div(class="social social--after")
					span(class="social__text") Поделиться
					div(class="social-links")
						a(href="#", class="social__item icon icon--facebook")
						a(href="#", class="social__item icon icon--vk")
						a(href="#", class="social__item icon icon--google-plus")
						a(href="#", class="social__item icon icon--twitter")
			section(class="recommendation")
				span(class="recommendation__text") Смотрите также:
				a(href="#", class="recommendation__link") Одежда
				a(href="#", class="recommendation__link") Трикотаж
				a(href="#", class="recommendation__link") Шелк
				a(href="#", class="recommendation__link") Все товары бренда Philipp Plein
			section(class="benefits")
				div(class="benefits__item")
					h3(class="benefits__item-title") Ценность
					p(class="benefits__item-text") Мы предлагаем подлинные качественные товары люксовых брендов по доступным ценам
				div(class="benefits__item")
					h3(class="benefits__item-title") Доставка
					p(class="benefits__item-text") Вы можете примерить вещи в одном из наших
						a(href="#", class="benefits__item-link") бутиков
						| или заказать доставку по любому удобному адресу.
				div(class="benefits__item")
					h3(class="benefits__item-title") Помощь
					p(class="benefits__item-text") Время работы службы поддержки: ежедневно с 10:00 до 21:00.
						br
						a(href="tel: +380443590899", class="benefits__item-link") +38 044 359-08-99,
						a(href="tel: +380954589846", class="benefits__item-link") +38 095 458-98-46
			a(href="#logo", class="to-top")
		div(class="location-popup")
			div(class="location-popup__content")
				div(class="popup__header")
					span(class="popup__title") Наличие товара в бутиках One Club
					a(href="javascript:PopUpHide()", class="popup-close icon icon--close")
				div(class="popup__main")
					span(class="popup__main-title") Платье
						b Current Elliot,
						| размер S
					div(class="popup__main-locations")
						div(class="popup__main-locations-item")
							span(class="location-title") ТЦ ГЛОБУС (3 линия, 2 этаж)
							span(class="location-text") г. Киев, ул. Институтская, 2
							span(class="location-text") Тел.: 
								a(href="tel: +380445996999") +380 44 599-69-99
							span(class="location-text") Время работы: 10:00 - 22:00
							a(href="#", class="location-link") Показать на карте
						div(class="popup__main-locations-item")
							span(class="location-title") ТЦ МАНУФАКТУРА
							span(class="location-text") Обуховское шоссе-2, 2
							span(class="location-text") с. Ходосеевка, Киевская область
							span(class="location-text") Тел.:
								a(href="tel: +380442009898") +380 44 200-98-98
							span(class="location-text") Время работы: 10:00 - 21:00
							a(href="#", class="location-link") Показать на карте
						div(class="popup__main-locations-item")
							span(class="location-title") ТРЦ АТМОСФЕРА
							span(class="location-text") г. Киев, Столичное шоссе, 103
							span(class="location-text") Тел.:
								a(href="tel: +380443934707") +380 44 393-47-07
							span(class="location-text") Время работы: 10:00 - 21:00
							a(href="#", class="location-link") Показать на карте
		include footer.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/Wallop.min.js")
		script(src="js/main.js")