div(class="photo Wallop")
	div(class="Wallop-list")
		div(class="product__sale icon icon--clock")
		div(class="Wallop-item Wallop-item--current")
			img(src="images/photo1-min.jpg", alt="photo1", class="Wallop-item-img")
		div(class="Wallop-item")
			img(src="images/photo2-min.jpg", alt="photo2", class="Wallop-item-img")
		div(class="Wallop-item")
			img(src="images/photo3-min.jpg", alt="photo3", class="Wallop-item-img")
		div(class="Wallop-item")
			img(src="images/photo4-min.jpg", alt="photo4", class="Wallop-item-img")
	div(class="Wallop-pagination")
		button(class="Wallop-buttonPrevious")
		div(class="Wallop-dot Wallop-dot--current Wallop-dot--1")
		div(class="Wallop-dot Wallop-dot--2")
		div(class="Wallop-dot Wallop-dot--3")
		div(class="Wallop-dot Wallop-dot--4")
		button(class="Wallop-buttonNext")